<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
      		category="eu.kalafatic.gemini.core.preferences.GeminiPreferencePage"
            class="eu.kalafatic.gemini.bt.client.net.rc.view.preferences.RCPreferencePage"
            id="eu.kalafatic.gemini.bt.client.net.rc.view.preferences.RCPreferencePage"
            name="%page.name">
      </page>
      <page
            category="eu.kalafatic.gemini.bt.client.net.rc.view.preferences.RCPreferencePage"
            class="eu.kalafatic.gemini.bt.client.net.rc.view.preferences.NetworkPreferencePage"
            id="eu.kalafatic.gemini.bt.client.net.rc.view.preferences.NetworkPreferencePage"
            name="%page.name.0">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="eu.kalafatic.gemini.bt.client.net.rc.view.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="eu.kalafatic.gemini.bt.client.net.rc.view.perspectives.RCPerspective"
            icon="icons/rc.jpg"
            id="eu.kalafatic.gemini.bt.client.net.rc.view.perspectives.RCPerspective"
            name="%perspective.name">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="RC"
            name="%category.name.0"
            parentCategory="Gemini/BT/Client">
      </category>
      <view
            allowMultiple="true"
            category="Gemini/BT/Client/RC"
            class="eu.kalafatic.gemini.bt.client.net.rc.view.views.RCView"
            icon="icons/test.gif"
            id="eu.kalafatic.gemini.bt.client.net.rc.view.views.RCView"
            name="%view.name"
            restorable="true">
      </view>
      <view
            category="Gemini/BT/Client/RC"
            class="eu.kalafatic.gemini.bt.client.net.rc.view.views.RCNavigator"
            id="eu.kalafatic.gemini.bt.client.net.rc.view.views.RCNavigator"
            name="%view.name.0"
            restorable="true">
      </view>
   </extension>

</plugin>
