<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="eu.kalafatic.gemini.bt.tracker.view.perspectives.TrackerBasePerspective"
            fixed="false"
            icon="platform:/plugin/eu.kalafatic.gemini.core/icons/network/data_server.png"
            id="eu.kalafatic.gemini.bt.tracker.view.perspectives.TrackerBasePerspective"
            name="%perspective.name">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="Tracker"
            name="%category.name"
            parentCategory="Gemini/BT">
      </category>
      <view
            allowMultiple="true"
            category="Gemini/BT/Tracker"
            class="eu.kalafatic.gemini.bt.tracker.view.views.SessionPropertyView"
            icon="platform:/plugin/eu.kalafatic.gemini.core/icons/session.png"
            id="eu.kalafatic.gemini.bt.tracker.view.views.SessionPropertyView"
            name="%view.name">
      </view>
      <view
            allowMultiple="true"
            category="Gemini/BT/Tracker"
            class="eu.kalafatic.gemini.bt.tracker.view.views.TrackerView"
            icon="platform:/plugin/eu.kalafatic.gemini.core/icons/network/server.png"
            id="eu.kalafatic.gemini.bt.tracker.view.views.TrackerView"
            name="%view.name.1">
      </view>
      <view
            allowMultiple="true"
            category="Gemini/BT/Tracker"
            class="eu.kalafatic.gemini.bt.tracker.view.views.SwarmsView"
            icon="platform:/plugin/eu.kalafatic.gemini.core/icons/network/swarm.png"
            id="eu.kalafatic.gemini.bt.tracker.view.views.SwarmsView"
            name="%view.name.2">
      </view>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="eu.kalafatic.gemini.bt.tracker.controller.PreferenceInitializer">
      </initializer>
     
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="eu.kalafatic.gemini.core.preferences.GeminiPreferencePage"
            class="eu.kalafatic.gemini.bt.tracker.view.preferences.TrackerPreferencePage"
            id="eu.kalafatic.gemini.bt.tracker.view.preferences.TrackerPreferencePage"
            name="%page.name">
      </page>
      <page
            category="eu.kalafatic.gemini.bt.tracker.view.preferences.TrackerPreferencePage"
            class="eu.kalafatic.gemini.bt.tracker.view.preferences.LocationsPreferencePage"
            id="eu.kalafatic.gemini.bt.tracker.view.preferences.LocationsPreferencePage"
            name="%page.name.0">
      </page>
      <page
            category="eu.kalafatic.gemini.bt.tracker.view.preferences.TrackerPreferencePage"
            class="eu.kalafatic.gemini.bt.tracker.view.preferences.NetworkPreferencePage"
            id="eu.kalafatic.gemini.bt.tracker.view.preferences.NetworkPreferencePage"
            name="%page.name.1">
      </page>
      <page
            category="eu.kalafatic.gemini.bt.tracker.view.preferences.TrackerPreferencePage"
            class="eu.kalafatic.gemini.bt.tracker.view.preferences.OptionsPreferencePage"
            id="eu.kalafatic.gemini.bt.tracker.view.preferences.OptionsPreferencePage"
            name="%page.name.2">
      </page>
      <page
            category="eu.kalafatic.gemini.bt.tracker.view.preferences.TrackerPreferencePage"
            class="eu.kalafatic.gemini.bt.tracker.view.preferences.CommunicationPreferencePage"
            id="eu.kalafatic.gemini.bt.tracker.view.preferences.CommunicationPreferencePage"
            name="%page.name.3">
      </page>
      <page
            category="eu.kalafatic.gemini.bt.tracker.view.preferences.TrackerPreferencePage"
            class="eu.kalafatic.gemini.bt.tracker.view.preferences.BuffersPreferencePage"
            id="eu.kalafatic.gemini.bt.tracker.view.preferences.BuffersPreferencePage"
            name="%page.name.4">
      </page>
      <page
            category="eu.kalafatic.gemini.bt.tracker.view.preferences.NetworkPreferencePage"
            class="eu.kalafatic.gemini.bt.tracker.view.preferences.TimingPreferencePage"
            id="eu.kalafatic.gemini.bt.tracker.view.preferences.TimingPreferencePage"
            name="%page.name.5">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="eu.kalafatic.gemini.bt.tracker.view.views.SwarmsView">
         <propertyCategory
               category="eu.kalafatic.gemini.core.tracker.category">
         </propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="eu.kalafatic.gemini.bt.tracker.view.views.SwarmsView">
         <propertyTab
               category="eu.kalafatic.gemini.core.tracker.category"
               id="eu.kalafatic.gemini.bt.tracker.view.properties.tabbed.TrackerSwarmsTab"
               label="%propertyTab.label">
         </propertyTab>
         <propertyTab
               category="eu.kalafatic.gemini.core.tracker.category"
               id="eu.kalafatic.gemini.bt.tracker.view.properties.tabbed.TrackerSwarmSessionTab"
               label="%propertyTab.label.0">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="eu.kalafatic.gemini.bt.tracker.view.views.SwarmsView">
         <propertySection
               class="eu.kalafatic.gemini.bt.tracker.view.properties.tabbed.SessionSection"
               id="eu.kalafatic.gemini.bt.tracker.view.properties.tabbed.SessionSection"
               tab="eu.kalafatic.gemini.bt.tracker.view.properties.tabbed.TrackerSwarmSessionTab">
            <input
                  type="org.eclipse.emf.ecore.EObject">
            </input>
         </propertySection>
         <propertySection
               class="org.eclipse.ui.views.properties.tabbed.AdvancedPropertySection"
               id="eu.kalafatic.gemini.bt.tracker.view.properties.tabbed.TrackerSection"
               tab="eu.kalafatic.gemini.bt.tracker.view.properties.tabbed.TrackerSwarmsTab">
            <input
                  type="org.eclipse.emf.ecore.EObject">
            </input>
         </propertySection>
      </propertySections>
   </extension>

</plugin>
