<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            class="eu.kalafatic.gemini.bt.tm.model.btStructure.BtStructurePackage"
            genModel="model/BTStructure.genmodel"
            uri="http:///btStructure.ecore">
      </package>
   </extension>

</plugin>
