<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="eu.kalafatic.gemini.bt.visual.perspectives.GraphPerspective"
            icon="icons/visual.png"
            id="eu.kalafatic.gemini.bt.visual.GraphPerspective"
            name="%perspective.name.1">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="eu.kalafatic.gemini.bt.visual.GraphCategory"
            name="%category.name.0"
            parentCategory="eu.kalafatic.gemini.core.category">
      </category>
      <view
            category="eu.kalafatic.gemini.bt.visual.GraphCategory"
            class="eu.kalafatic.gemini.bt.visual.views.GraphSettingsView"
            icon="icons/graph.gif"
            id="eu.kalafatic.gemini.bt.visual.views.GraphSettingsView"
            name="%view.name"
            restorable="true">
      </view>
      <view
            category="eu.kalafatic.gemini.bt.visual.GraphCategory"
            class="eu.kalafatic.gemini.bt.visual.views.NetGraph"
            icon="icons/graph.gif"
            id="eu.kalafatic.gemini.bt.visual.views.NetGraph"
            name="%view.name.1"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="eu.kalafatic.gemini.bt.visual.editors.GraphMultiPageEditor"
            contributorClass="eu.kalafatic.gemini.bt.visual.editors.GraphMultiPageEditorContributor"
            icon="icons/tray-icon16-16.jpg"
            id="eu.kalafatic.gemini.bt.client.draw.GraphMultiPageEditor"
            name="%editor.name.0">
      </editor>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="eu.kalafatic.gemini.bt.visual.preferences.PreferenceInitializer">
      </initializer>
   </extension> <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="eu.kalafatic.gemini.core.preferences.GeminiPreferencePage/eu.kalafatic.gemini.bt.client.view.preferences.ClientPreferencePage"
            class="eu.kalafatic.gemini.bt.visual.preferences.DrawPreferencePage"
            id="eu.kalafatic.gemini.bt.client.draw.preferences.DrawPreferencePage"
            name="%page.name">
      </page>
      <page
            category="eu.kalafatic.gemini.core.preferences.GeminiPreferencePage/eu.kalafatic.gemini.bt.client.view.preferences.ClientPreferencePage/eu.kalafatic.gemini.bt.client.draw.preferences.DrawPreferencePage"
            class="eu.kalafatic.gemini.bt.visual.preferences.LocationsPreferencePage"
            id="eu.kalafatic.gemini.bt.client.draw.preferences.LocationsPreferencePage"
            name="%page.name.0">
      </page>
      <page
            category="eu.kalafatic.gemini.core.preferences.GeminiPreferencePage/eu.kalafatic.gemini.bt.client.view.preferences.ClientPreferencePage/eu.kalafatic.gemini.bt.client.draw.preferences.DrawPreferencePage"
            class="eu.kalafatic.gemini.bt.visual.preferences.AlgorithmsPreferencePage"
            id="eu.kalafatic.gemini.bt.client.draw.preferences.AlgorithmsPreferencePage"
            name="%page.name.1">
      </page>
      <page
            category="eu.kalafatic.gemini.core.preferences.GeminiPreferencePage/eu.kalafatic.gemini.bt.client.view.preferences.ClientPreferencePage/eu.kalafatic.gemini.bt.client.draw.preferences.DrawPreferencePage"
            class="eu.kalafatic.gemini.bt.visual.preferences.AlgSettingsPreferencePage"
            id="eu.kalafatic.gemini.bt.client.draw.preferences.AlgSetupPreferencePage"
            name="%page.name.2">
      </page>
     
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="eu.kalafatic.gemini.bt.visual.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
