<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="eu.kalafatic.gemini.bt.tracker.controller.commands.category"
            name="%category.name">
      </category>
      <command
            categoryId="eu.kalafatic.gemini.bt.tracker.controller.commands.category"
            id="eu.kalafatic.gemini.bt.tracker.controller.commands.runUploadCommand"
            name="%command.name">
      </command>
      <command
            categoryId="eu.kalafatic.gemini.bt.tracker.controller.commands.category"
            id="eu.kalafatic.gemini.bt.tracker.controller.commands.stopUploadCommand"
            name="%command.name.0">
      </command>
      <command
            categoryId="eu.kalafatic.gemini.bt.tracker.controller.commands.category"
            id="eu.kalafatic.gemini.bt.tracker.controller.handlers.ImportTorrentHandler"
            name="%command.name.8">
         <commandParameter
               id="eu.kalafatic.gemini.bt.tracker.controller.ImportParameter1"
               name="%commandParameter.name"
               optional="true">
         </commandParameter>
         <commandParameter
               id="eu.kalafatic.gemini.bt.tracker.controller.ImportParameter2"
               name="%commandParameter.name.0"
               optional="true">
         </commandParameter>
      </command>
      <command
            categoryId="eu.kalafatic.gemini.bt.tracker.controller.commands.category"
            id="eu.kalafatic.gemini.bt.tracker.controller.addClientCommand"
            name="%command.name.2">
      </command>
      <command
            categoryId="eu.kalafatic.gemini.bt.tracker.controller.commands.category"
            id="eu.kalafatic.gemini.bt.tracker.controller.removeCommand"
            name="%command.name.3">
      </command>
      <command
            id="eu.kalafatic.gemini.bt.tracker.controller.runClientServerCommand"
            name="%command.name.4">
      </command>
      <command
            id="eu.kalafatic.gemini.bt.tracker.controller.stopClientServerCommand"
            name="%command.name.5">
      </command>
      <command
            id="eu.kalafatic.gemini.bt.tracker.controller.selectAllCommand"
            name="%command.name.6">
      </command>
      <command
            id="eu.kalafatic.gemini.bt.tracker.controller.clearCommand"
            name="%command.name.7">
      </command>
      <command
            defaultHandler="eu.kalafatic.gemini.core.handlers.WizardHandler$Import"
            id="eu.kalafatic.gemini.bt.tracker.controller.handler1"
            name="%command.name.9">
         <commandParameter
               id="WIZARD_ID"
               name="%commandParameter.name.1"
               optional="true">
         </commandParameter>
      </command>
      <command
            defaultHandler="eu.kalafatic.gemini.core.handlers.WizardHandler$Export"
            id="eu.kalafatic.gemini.bt.tracker.controller.handler2"
            name="%command.name.10">
         <commandParameter
               id="WIZARD_ID"
               name="%commandParameter.name.2"
               optional="true">
         </commandParameter>
      </command>
      <command
            id="eu.kalafatic.gemini.bt.tracker.controller.handlers.EditTorrentTrackersHandler"
            name="%command.name.11">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="eu.kalafatic.gemini.bt.tracker.controller.handlers.RunUploadServerHandler"
            commandId="eu.kalafatic.gemini.bt.tracker.controller.commands.runUploadCommand">
      </handler>
      <handler
            class="eu.kalafatic.gemini.bt.tracker.controller.handlers.StopUploadServerHandler"
            commandId="eu.kalafatic.gemini.bt.tracker.controller.commands.stopUploadCommand">
      </handler>
      <handler
            class="eu.kalafatic.gemini.bt.tracker.controller.handlers.AddClientHandler"
            commandId="eu.kalafatic.gemini.bt.tracker.controller.addClientCommand">
      </handler>
      <handler
            class="eu.kalafatic.gemini.bt.tracker.controller.handlers.RemoveHandler"
            commandId="eu.kalafatic.gemini.bt.tracker.controller.removeCommand">
      </handler>
      <handler
            class="eu.kalafatic.gemini.bt.tracker.controller.handlers.RunClientServerHandler"
            commandId="eu.kalafatic.gemini.bt.tracker.controller.runClientServerCommand">
      </handler>
      <handler
            class="eu.kalafatic.gemini.bt.tracker.controller.handlers.StopClientServerHandler"
            commandId="eu.kalafatic.gemini.bt.tracker.controller.stopClientServerCommand">
            
      </handler>
      <handler
            class="eu.kalafatic.gemini.bt.tracker.controller.handlers.SelectAllHandler"
            commandId="eu.kalafatic.gemini.bt.tracker.controller.selectAllCommand">
      </handler>
      <handler
            class="eu.kalafatic.gemini.bt.tracker.controller.handlers.ClearHandler"
            commandId="eu.kalafatic.gemini.bt.tracker.controller.clearCommand">
      </handler>
      <handler
            class="eu.kalafatic.gemini.bt.tracker.controller.handlers.ImportTorrentHandler"
            commandId="eu.kalafatic.gemini.bt.tracker.controller.handlers.ImportTorrentHandler"
            helpContextId="eu.kalafatic.gemini.bt.tracker.controller.handlers.ImportTorrentHandler">
      </handler>
      <handler
            class="eu.kalafatic.gemini.bt.tracker.controller.handlers.ExportTorrentHandler"
            commandId="eu.kalafatic.gemini.bt.tracker.controller.handlers.ExportTorrentHandler"
            helpContextId="eu.kalafatic.gemini.bt.tracker.controller.handlers.ExportTorrentHandler">
      </handler>
      <handler
            class="eu.kalafatic.gemini.bt.tracker.controller.handlers.EditTorrentTrackersHandler"
            commandId="eu.kalafatic.gemini.bt.tracker.controller.handlers.EditTorrentTrackersHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:eu.kalafatic.gemini.bt.tracker.view.views.SwarmsView">
         <command
               commandId="eu.kalafatic.gemini.bt.tracker.controller.commands.runUploadCommand"
               icon="platform:/plugin/eu.kalafatic.gemini.core/icons/actions/upload.gif"
               style="push">
         </command>
         <command
               commandId="eu.kalafatic.gemini.bt.tracker.controller.commands.stopUploadCommand"
               icon="platform:/plugin/eu.kalafatic.gemini.core/icons/actions/stop.png"
               style="push">
         </command>
         <separator
               name="eu.kalafatic.gemini.bt.tracker.controller.separator1"
               visible="true">
         </separator>
         <command
               commandId="eu.kalafatic.gemini.bt.tracker.controller.handlers.ImportTorrentHandler"
               icon="platform:/plugin/eu.kalafatic.gemini.core/icons/actions/up_nav.gif"
               style="push">
         </command>ribution>
      
         <command
               commandId="eu.kalafatic.gemini.bt.tracker.controller.addClientCommand"
               icon="platform:/plugin/eu.kalafatic.gemini.core/icons/actions/add_user.png"
               style="push">
         </command>
         <separator
               name="eu.kalafatic.gemini.bt.tracker.controller.separator4"
               visible="true">
         </separator>
         <command
               commandId="eu.kalafatic.gemini.bt.tracker.controller.removeCommand"
               icon="platform:/plugin/eu.kalafatic.gemini.core/icons/actions/delete.gif"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:eu.kalafatic.gemini.bt.tracker.view.views.SwarmsView">
         <command
               commandId="eu.kalafatic.gemini.bt.tracker.controller.commands.runUploadCommand"
               icon="platform:/plugin/eu.kalafatic.gemini.core/icons/actions/upload.gif"
               style="push">
         </command>
         <command
               commandId="eu.kalafatic.gemini.bt.tracker.controller.commands.stopUploadCommand"
               icon="platform:/plugin/eu.kalafatic.gemini.core/icons/actions/stop.png"
               style="push">
         </command>
         <separator
               name="eu.kalafatic.gemini.bt.tracker.controller.separator2"
               visible="true">
         </separator>
         <command
               commandId="eu.kalafatic.gemini.bt.tracker.controller.handlers.ImportTorrentHandler"
               icon="platform:/plugin/eu.kalafatic.gemini.core/icons/actions/up_nav.gif"
               style="push">
         </command>
         <command
               commandId="eu.kalafatic.gemini.bt.tracker.controller.addClientCommand"
               icon="platform:/plugin/eu.kalafatic.gemini.core/icons/actions/add_user.png"
               style="push">
         </command>
         <separator
               name="eu.kalafatic.gemini.bt.tracker.controller.separator5"
               visible="true">
         </separator>
         <command
               commandId="eu.kalafatic.gemini.bt.tracker.controller.removeCommand"
               icon="platform:/plugin/eu.kalafatic.gemini.core/icons/actions/delete.gif"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:eu.kalafatic.gemini.bt.tracker.view.views.SwarmsView">
         <command
               commandId="eu.kalafatic.gemini.bt.tracker.controller.commands.runUploadCommand"
               icon="platform:/plugin/eu.kalafatic.gemini.core/icons/actions/upload.gif"
               style="push">
         </command>
         <command
               commandId="eu.kalafatic.gemini.bt.tracker.controller.commands.stopUploadCommand"
               icon="platform:/plugin/eu.kalafatic.gemini.core/icons/actions/stop.png"
               style="push">
         </command>
         <separator
               name="eu.kalafatic.gemini.bt.tracker.controller.separator3"
               visible="true">
         </separator>
         <command
               commandId="eu.kalafatic.gemini.bt.tracker.controller.handlers.ImportTorrentHandler"
               icon="platform:/plugin/eu.kalafatic.gemini.core/icons/actions/up_nav.gif"
               style="push">
         </command>
         <command
               commandId="eu.kalafatic.gemini.bt.tracker.controller.addClientCommand"
               icon="platform:/plugin/eu.kalafatic.gemini.core/icons/actions/add_user.png"
               style="push">
         </command>
         <command
               commandId="eu.kalafatic.gemini.bt.tracker.controller.handlers.EditTorrentTrackersHandler"
               icon="platform:/plugin/eu.kalafatic.gemini.core/icons/editor.gif"
               style="push">
         </command>
         <separator
               name="eu.kalafatic.gemini.bt.tracker.controller.separator6"
               visible="true">
         </separator>
         <command
               commandId="eu.kalafatic.gemini.bt.tracker.controller.removeCommand"
               icon="platform:/plugin/eu.kalafatic.gemini.core/icons/actions/delete.gif"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="menu:eu.kalafatic.gemini.bt.tracker.view.views.TrackerView">
         <command
               commandId="eu.kalafatic.gemini.bt.tracker.controller.runClientServerCommand"
               icon="platform:/plugin/eu.kalafatic.gemini.core/icons/actions/play.png"
               style="push">
         </command>
         <command
               commandId="eu.kalafatic.gemini.bt.tracker.controller.stopClientServerCommand"
               icon="platform:/plugin/eu.kalafatic.gemini.core/icons/actions/stop.png"
               style="push">
         </command>
         <separator
               name="eu.kalafatic.gemini.bt.tracker.controller.separator1"
               visible="true">
         </separator>
         <command
               commandId="eu.kalafatic.gemini.bt.tracker.controller.selectAllCommand"
               icon="platform:/plugin/eu.kalafatic.gemini.core/icons/actions/select.gif"
               style="push">
         </command>
         <command
               commandId="eu.kalafatic.gemini.bt.tracker.controller.clearCommand"
               icon="platform:/plugin/eu.kalafatic.gemini.core/icons/actions/clear.gif"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:eu.kalafatic.gemini.bt.tracker.view.views.TrackerView">
         <command
               commandId="eu.kalafatic.gemini.bt.tracker.controller.runClientServerCommand"
               icon="platform:/plugin/eu.kalafatic.gemini.core/icons/actions/play.png"
               style="push">
         </command>
         <command
               commandId="eu.kalafatic.gemini.bt.tracker.controller.stopClientServerCommand"
               icon="platform:/plugin/eu.kalafatic.gemini.core/icons/actions/stop.png"
               style="push">
         </command>
         <separator
               name="eu.kalafatic.gemini.bt.tracker.controller.separator1"
               visible="true">
         </separator>
         <command
               commandId="eu.kalafatic.gemini.bt.tracker.controller.selectAllCommand"
               icon="platform:/plugin/eu.kalafatic.gemini.core/icons/actions/select.gif"
               style="push">
         </command>
         <command
               commandId="eu.kalafatic.gemini.bt.tracker.controller.clearCommand"
               icon="platform:/plugin/eu.kalafatic.gemini.core/icons/actions/clear.gif"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:eu.kalafatic.gemini.bt.tracker.view.views.TrackerView">
         <command
               commandId="eu.kalafatic.gemini.bt.tracker.controller.runClientServerCommand"
               icon="platform:/plugin/eu.kalafatic.gemini.core/icons/actions/play.png"
               style="push">
         </command>
         <command
               commandId="eu.kalafatic.gemini.bt.tracker.controller.stopClientServerCommand"
               icon="platform:/plugin/eu.kalafatic.gemini.core/icons/actions/stop.png"
               style="push">
         </command>
         <separator
               name="eu.kalafatic.gemini.bt.tracker.controller.separator1"
               visible="true">
         </separator>
         <command
               commandId="eu.kalafatic.gemini.bt.tracker.controller.selectAllCommand"
               icon="platform:/plugin/eu.kalafatic.gemini.core/icons/actions/select.gif"
               style="push">
         </command>
         <command
               commandId="eu.kalafatic.gemini.bt.tracker.controller.clearCommand"
               icon="platform:/plugin/eu.kalafatic.gemini.core/icons/actions/clear.gif"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?endof=eu.kalafatic.gemini.core.toolbar.separator1">
         <toolbar
               id="eu.kalafatic.gemini.core.toolbar1">
            <command
                  commandId="eu.kalafatic.gemini.bt.tracker.controller.handler1"
                  icon="platform:/plugin/eu.kalafatic.gemini.core/icons/actions/join_sync.gif"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <equals
                           value="eu.kalafatic.gemini.bt.tracker.view.perspectives.TrackerBasePerspective">
                     </equals>
                  </with>
               </visibleWhen>
               <parameter
                     name="WIZARD_ID"
                     value="eu.kalafatic.gemini.bt.tracker.controller.wizards.ImportSyncWizard">
               </parameter>
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="true"
            locationURI="menu:eu.kalafatic.gemini.core.menus.importWizardsMenu">
         <command
               commandId="eu.kalafatic.gemini.bt.tracker.controller.handlers.ImportTorrentHandler"
               icon="platform:/plugin/eu.kalafatic.gemini.core/icons/actions/up_nav.gif"
               label="%command.label"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="eu.kalafatic.gemini.bt.tracker.view.perspectives.TrackerBasePerspective">
                  </equals>
               </with>
            </visibleWhen>
            <parameter
                  name="eu.kalafatic.gemini.bt.tracker.controller.ImportParameter1"
                  value=" ">
            </parameter>
         </command>
         <separator
               name="eu.kalafatic.gemini.bt.tracker.controller.separator1"
               visible="true">
         </separator>
         <command
               commandId="eu.kalafatic.gemini.bt.tracker.controller.handler1"
               icon="platform:/plugin/eu.kalafatic.gemini.core/icons/actions/join_sync.gif"
               id="eu.kalafatic.gemini.bt.tracker.controller.handler1"
               label="%command.label.0"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="eu.kalafatic.gemini.bt.tracker.view.perspectives.TrackerBasePerspective">
                  </equals>
               </with>
            </visibleWhen>
            <parameter
                  name="WIZARD_ID"
                  value="eu.kalafatic.gemini.bt.tracker.controller.wizards.ImportSyncWizard">
            </parameter>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:eu.kalafatic.gemini.core.menus.exportWizardsMenu">
         <command
               commandId="eu.kalafatic.gemini.bt.tracker.controller.handler2"
               icon="platform:/plugin/eu.kalafatic.gemini.core/icons/actions/fork_sync.gif"
               id="eu.kalafatic.gemini.bt.tracker.controller.handler2"
               label="%command.label.1"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="eu.kalafatic.gemini.bt.tracker.view.perspectives.TrackerBasePerspective">
                  </equals>
               </with>
            </visibleWhen>
            <parameter
                  name="WIZARD_ID"
                  value="eu.kalafatic.gemini.bt.tracker.controller.wizards.ExportSyncWizard">
            </parameter>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="eu.kalafatic.gemini.bt.tracker.wizards.import"
            name="%category.name.0">
      </category>
      <wizard
            category="eu.kalafatic.gemini.bt.tracker.wizards.import"
            class="eu.kalafatic.gemini.bt.tracker.controller.importWizards.ImportWizard"
            id="eu.kalafatic.gemini.bt.tracker.controller.importWizards.ImportWizard"
            name="%wizard.name">
         <description>
            %wizard.description
         </description>
      </wizard>
      <wizard
            category="eu.kalafatic.gemini.bt.tracker.wizards.import"
            class="eu.kalafatic.gemini.bt.tracker.controller.wizards.ImportSyncWizard"
            id="eu.kalafatic.gemini.bt.tracker.controller.wizards.ImportSyncWizard"
            name="%wizard.name.0">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <wizard
            category="eu.kalafatic.gemini.bt.tracker.wizards.export"
            class="eu.kalafatic.gemini.bt.tracker.controller.wizards.ExportSyncWizard"
            id="eu.kalafatic.gemini.bt.tracker.controller.wizards.ExportSyncWizard"
            name="%wizard.name.1">
      </wizard>
   </extension>


</plugin>
