<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http:///rc.ecore"
            class="eu.kalafatic.gemini.bt.client.net.rc.model.rc.RcPackage"
            genModel="rc.genmodel"/>
   </extension>

</plugin>
