<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="eu.kalafatic.gemini.core" name="%extension-point.name" schema="schema/eu.kalafatic.gemini.core.exsd"/>
   <extension
         id="eu.kalafatic.gemini.core.application"
         name="%extension.name"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            icon="$nl$/icons/branding/tray-16.PNG"
            thread="main"
            visible="true">
         <run
               class="eu.kalafatic.gemini.core.Application">
         </run>
      </application>
   </extension>

   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="eu.kalafatic.gemini.core.perspectives.CorePerspective"
            icon="$nl$/icons/toolbar/preferences.png"
            id="eu.kalafatic.gemini.core.conf.view.perspectives.BaseConfigurationPerspective"
            name="%perspective.name.0">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="eu.kalafatic.gemini.core.category"
            name="%category.name.0">
      </category>
      <category
            id="eu.kalafatic.gemini.core.client.category"
            name="%category.name.1"
            parentCategory="eu.kalafatic.gemini.core.category">
      </category>
      <category
            id="eu.kalafatic.gemini.core.tm.category"
            name="%category.name.2"
            parentCategory="eu.kalafatic.gemini.core.category">
      </category>
      <category
            id="eu.kalafatic.gemini.core.tracker.category"
            name="%category.name.3"
            parentCategory="eu.kalafatic.gemini.core.category">
      </category>
      <category
            id="eu.kalafatic.gemini.core.media.category"
            name="Media"
            parentCategory="eu.kalafatic.gemini.core.category">
      </category>
      <category
            id="eu.kalafatic.gemini.core.web.category"
            name="%category.name.4"
            parentCategory="eu.kalafatic.gemini.core.category">
      </category>
      <category
            id="eu.kalafatic.gemini.core.net.category"
            name="Network"
            parentCategory="eu.kalafatic.gemini.core.category">
      </category>
      <view
            allowMultiple="true"
            category="eu.kalafatic.gemini.core.category"
            class="eu.kalafatic.gemini.core.views.FileNavigatorView"
            icon="icons/tree.gif"
            id="eu.kalafatic.gemini.core.views.FileNavigatorView"
            name="%view.name.0">
      </view>
      <view
            category="eu.kalafatic.gemini.core.category"
            class="eu.kalafatic.gemini.core.views.ConsoleView"
            icon="icons/console.png"
            id="eu.kalafatic.gemini.core.views.ConsoleView"
            name="%view.name"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="eu.kalafatic.gemini.core.editors.MultiPageEditor"
            contributorClass="eu.kalafatic.gemini.core.editors.MultiPageEditorContributor"
            default="true"
            extensions="torrent,txt,xml,html,htm"
            icon="$nl$/icons/editor.gif"
            id="eu.kalafatic.gemini.core.editors.MultiPageEditor"
            name="%editor.name.0">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.intro.configExtension">
      <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="intro/sample.xml">
      </configExtension>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml">
      </toc>
      <toc
            file="testToc.xml"
            primary="true">
      </toc>
   </extension>
   <extension 
       point="org.eclipse.ui.encodings">
      <encoding name="ISO-8859-1"/>
      <encoding name="UTF-8"/>
      <encoding name="US-ASCII"/>
   </extension>
   <extension
         id="all"
         point="org.eclipse.core.runtime.products">
      <product
            application="eu.kalafatic.gemini.core.application"
            name="Gemini">
         <property
               name="windowImages"
               value="icons/branding/tray-16.PNG,icons/branding/tray-32.PNG,icons/branding/tray-48.PNG,icons/branding/tray-64.PNG,icons/branding/tray-128.PNG">
         </property>
         <property
               name="aboutText"
               value="%aboutText">
         </property>
         <property
               name="aboutImage"
               value="icons/branding/tray-128.PNG">
         </property>
         <property
               name="startupForegroundColor"
               value="808080">
         </property>
         <property
               name="startupProgressRect"
               value="10,135,280,10">
         </property>
         <property
               name="startupMessageRect"
               value="10,115,260,20">
         </property>
         <property
               name="appName"
               value="Gemini">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="version"
               value="2.0.3">
         </property>
      </product>
   </extension>
   <extension
         id="core"
         point="org.eclipse.core.runtime.products">
      <product
            application="eu.kalafatic.gemini.core.application"
            name="%product.name.7">
         <property
               name="windowImages"
               value="icons/branding/tray-16.PNG,icons/branding/tray-32.PNG,icons/branding/tray-48.PNG,icons/branding/tray-64.PNG,icons/branding/tray-128.PNG">
         </property>
         <property
               name="aboutText"
               value="Welcome to my Product based on Eclipse Product Configuration.&#x0A;Project Gemini is implementation of BitTorrent protocol.&#x0A;Copyright (c) 2010, Petr Kalafatic&#x0A;Version: 1.0.0&#x0A;Build id: = 1.0.0.vqualifier">
         </property>
         <property
               name="aboutImage"
               value="icons/tray_small.PNG">
         </property>
         <property
               name="startupForegroundColor"
               value="808080">
         </property>
         <property
               name="startupProgressRect"
               value="10,135,280,10">
         </property>
         <property
               name="startupMessageRect"
               value="10,115,260,20">
         </property>
         <property
               name="appName"
               value="%product.name.7">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="version"
               value="2.0.2">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.intro">
      <intro
            class="org.eclipse.ui.intro.config.CustomizableIntroPart"
            icon="$nl$/icons/gemini/gemini.jpg"
            id="eu.kalafatic.gemini.core.intro">
      </intro>
      <introProductBinding
            introId="eu.kalafatic.gemini.core.intro"
            productId="eu.kalafatic.gemini.core.all">
      </introProductBinding>
      <intro
            class="org.eclipse.ui.intro.config.CustomizableIntroPart"
            icon="$nl$/icons/gemini/gemini.jpg"
            id="eu.kalafatic.gemini.core.intro1">
      </intro>
      <introProductBinding
            introId="eu.kalafatic.gemini.core.intro1"
            productId="eu.kalafatic.gemini.core.core">
      </introProductBinding>
   </extension>
   <extension
         point="org.eclipse.ui.intro.config">
      <config
            content="introContent.xml"
            id="eu.kalafatic.gemini.core.introConfigId"
            introId="eu.kalafatic.gemini.core.intro">
         <presentation
               home-page-id="root">
            <implementation
                  kind="html"
                  os="win32,linux,macosx"
                  style="content/shared.css">
            </implementation>
         </presentation>
      </config>
      <config
            content="introContent.xml"
            id="eu.kalafatic.gemini.core.introConfigId"
            introId="eu.kalafatic.gemini.core.intro1">
         <presentation
               home-page-id="root">
            <implementation
                  kind="html"
                  os="win32,linux,macosx"
                  style="content/shared.css">
            </implementation>
         </presentation>
      </config>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page           
            class="eu.kalafatic.gemini.core.preferences.GeminiPreferencePage"
            id="eu.kalafatic.gemini.core.preferences.GeminiPreferencePage"
            name="%page.name">
      </page>
      <page
            category="eu.kalafatic.gemini.core.preferences.GeminiPreferencePage"
            class="eu.kalafatic.gemini.core.preferences.CorePreferencePage"
            id="eu.kalafatic.gemini.core.preferences.CorePreferencePage"
            name="%page.name.0">
      </page>
      <page
            category="eu.kalafatic.gemini.core.preferences.CorePreferencePage"
            class="eu.kalafatic.gemini.core.preferences.SystemPreferencePage"
            id="eu.kalafatic.gemini.core.preferences.SystemPreferencePage"
            name="%page.name.1">
      </page>
      <page
            category="eu.kalafatic.gemini.core.preferences.CorePreferencePage"
            class="eu.kalafatic.gemini.core.preferences.NetworkPreferencePage"
            id="eu.kalafatic.gemini.core.preferences.NetworkPreferencePage"
            name="%page.name.2">
      </page>
      <page
            category="eu.kalafatic.gemini.core.preferences.CorePreferencePage"
            class="eu.kalafatic.gemini.core.preferences.PluginsPreferencePage"
            id="eu.kalafatic.gemini.core.preferences.PluginsPreferencePage"
            name="%page.name.3">
      </page>
      <page
            category="eu.kalafatic.gemini.core.preferences.CorePreferencePage"
            class="eu.kalafatic.gemini.core.preferences.LocationsPreferencePage"
            id="eu.kalafatic.gemini.core.preferences.LocationsPreferencePage"
            name="%page.name.4">
      </page>
      <page
            category="eu.kalafatic.gemini.core.preferences.CorePreferencePage"
            class="eu.kalafatic.gemini.core.preferences.CustomizePreferencePage"
            id="eu.kalafatic.gemini.core.preferences.CustomizePreferencePage"
            name="%page.name.5">
      </page>
      <page
            category="eu.kalafatic.gemini.core.preferences.CorePreferencePage"
            class="eu.kalafatic.gemini.core.preferences.SecurityPreferencePage"
            id="eu.kalafatic.gemini.core.preferences.SecurityPreferencePage"
            name="%page.name.6">
      </page>
      <page
            category="eu.kalafatic.gemini.core.preferences.SystemPreferencePage"
            class="eu.kalafatic.gemini.core.preferences.OSIntegrationPreferencePage"
            id="eu.kalafatic.gemini.core.preferences.OSIntegrationPreferencePage"
            name="%page.name.7">
      </page>
      <page
            category="eu.kalafatic.gemini.core.preferences.SystemPreferencePage"
            class="eu.kalafatic.gemini.core.preferences.PortExplorerPage"
            id="eu.kalafatic.gemini.core.preferences.PortExplorerPage"
            name="%page.name.8">
      </page>
      <page
      		category="eu.kalafatic.gemini.core.preferences.NetworkPreferencePage"
            class="eu.kalafatic.gemini.core.preferences.InterfacesPreferencePage"
            id="eu.kalafatic.gemini.core.preferences.InterfacesPreferencePage"
            name="%page.name.9">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="eu.kalafatic.gemini.core.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="eu.kalafatic.gemini.core.commands.category"
            name="%category.name">
      </category>
      <command
            categoryId="eu.kalafatic.gemini.core.commands.category"
            id="eu.kalafatic.gemini.core.commands.languageCommand"
            name="%command.name">
         <commandParameter
               id="eu.kalafatic.gemini.core.langParameter1"
               name="%commandParameter.name"
               optional="true">
         </commandParameter>
      </command>
      <command
            id="eu.kalafatic.gemini.core.openGPerspectivesCommand"
            name="%command.name.0">
      </command>
      <command
            id="eu.kalafatic.gemini.core.openGViewsCommand"
            name="%command.name.1">
      </command>
      <command
            id="eu.kalafatic.gemini.core.openWebBrowserCommand"
            name="%command.name.2">
      </command>
      <command
            id="eu.kalafatic.gemini.core.productConfigCommand"
            name="%command.name.3">
      </command>
      <command
            id="eu.kalafatic.gemini.core.restartCommand"
            name="%command.name.4">
      </command>
      <command
            id="eu.kalafatic.gemini.core.sendImprovementCommand"
            name="%command.name.5">
      </command>
      <command
            id="eu.kalafatic.gemini.core.sendProblemCommand"
            name="%command.name.6">
      </command>
      <command
            id="eu.kalafatic.gemini.core.handlers.ExitHandler"
            name="%command.name.8">
      </command>
      <command
            id="eu.kalafatic.gemini.core.handlers.KeyAssistHandler"
            name="Key Assist">
      </command>
      <command
            id="eu.kalafatic.gemini.core.handlers.UpdateHandler1"
            name="Update SW">
      </command>
      <command
            id="eu.kalafatic.gemini.core.handlers.InstallHandler"
            name="Install SW">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="eu.kalafatic.gemini.core.handlers.SelectLanguageHandler"
            commandId="eu.kalafatic.gemini.core.commands.languageCommand">
      </handler>
      <handler
            class="eu.kalafatic.gemini.core.handlers.OpenGeminiPerspectivesHandler"
            commandId="eu.kalafatic.gemini.core.openGPerspectivesCommand">
      </handler>
      <handler
            class="eu.kalafatic.gemini.core.handlers.OpenGeminiViewsHandler"
            commandId="eu.kalafatic.gemini.core.openGViewsCommand">
      </handler>
      <handler
            class="eu.kalafatic.gemini.core.handlers.OpenWebBrowserHandler"
            commandId="eu.kalafatic.gemini.core.openWebBrowserCommand">
      </handler>
      <handler
            class="eu.kalafatic.gemini.core.handlers.ProductConfigHandler"
            commandId="eu.kalafatic.gemini.core.productConfigCommand">
      </handler>
      <handler
            class="eu.kalafatic.gemini.core.handlers.RestartHandler"
            commandId="eu.kalafatic.gemini.core.restartCommand">
      </handler>
      <handler
            class="eu.kalafatic.gemini.core.handlers.SendImprovementHandler"
            commandId="eu.kalafatic.gemini.core.sendImprovementCommand">
      </handler>
      <handler
            class="eu.kalafatic.gemini.core.handlers.SendProblemHandler"
            commandId="eu.kalafatic.gemini.core.sendProblemCommand">
      </handler>
      <handler
            class="eu.kalafatic.gemini.core.handlers.ExitHandler"
            commandId="eu.kalafatic.gemini.core.handlers.ExitHandler">
      </handler>
      <handler
            class="eu.kalafatic.gemini.core.handlers.KeyAssistHandler"
            commandId="eu.kalafatic.gemini.core.handlers.KeyAssistHandler"
            helpContextId="eu.kalafatic.gemini.core.handlers.KeyAssistHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="eu.kalafatic.gemini.core.commands.languageCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+6">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="menu:Tools?after=languageMarker">
         <menu
               icon="$nl$/icons/languages/language.png"
               id="eu.kalafatic.gemini.core.menus.languagesMenu"
               label="%menu.label"
               mnemonic="%menu.mnemonic">
            <command
                  commandId="eu.kalafatic.gemini.core.commands.languageCommand"
                  icon="$nl$/icons/languages/flags/czech.gif"
                  label="%command.label"
                  style="push">
               <parameter
                     name="eu.kalafatic.gemini.core.langParameter1"
                     value="cs">
               </parameter>
               <visibleWhen>
                  <not>
                     <systemTest
                           property="osgi.nl"
                           value="cs">
                     </systemTest>
                  </not>
               </visibleWhen>
            </command>
            <command
                  commandId="eu.kalafatic.gemini.core.commands.languageCommand"
                  icon="$nl$/icons/languages/flags/english.gif"
                  label="%command.label.0"
                  style="push">
               <parameter
                     name="eu.kalafatic.gemini.core.langParameter1"
                     value="en">
               </parameter>
               <visibleWhen>
                  <not>
                     <systemTest
                           property="osgi.nl"
                           value="en">
                     </systemTest>
                  </not>
               </visibleWhen>
            </command>
            <command
                  commandId="eu.kalafatic.gemini.core.commands.languageCommand"
                  icon="$nl$/icons/languages/flags/german.gif"
                  label="%command.label.1"
                  style="push">
               <parameter
                     name="eu.kalafatic.gemini.core.langParameter1"
                     value="de">
               </parameter>
               <visibleWhen>
                  <not>
                     <systemTest
                           property="osgi.nl"
                           value="de">
                     </systemTest>
                  </not>
               </visibleWhen>
            </command>
            <command
                  commandId="eu.kalafatic.gemini.core.commands.languageCommand"
                  icon="$nl$/icons/languages/flags/china.gif"
                  label="%command.label.2"
                  style="push">
               <parameter
                     name="eu.kalafatic.gemini.core.langParameter1"
                     value="zh">
               </parameter>
               <visibleWhen>
                  <not>
                     <systemTest
                           property="osgi.nl"
                           value="zh">
                     </systemTest>
                  </not>
               </visibleWhen>
            </command>
            <command
                  commandId="eu.kalafatic.gemini.core.commands.languageCommand"
                  icon="$nl$/icons/languages/flags/russia.gif"
                  label="%command.label.3"
                  style="push">
               <parameter
                     name="eu.kalafatic.gemini.core.langParameter1"
                     value="ru">
               </parameter>
               <visibleWhen>
                  <not>
                     <systemTest
                           property="osgi.nl"
                           value="ru">
                     </systemTest>
                  </not>
               </visibleWhen>
            </command>
            <command
                  commandId="eu.kalafatic.gemini.core.commands.languageCommand"
                  icon="$nl$/icons/languages/flags/spain.gif"
                  label="%command.label.4"
                  style="push">
               <parameter
                     name="eu.kalafatic.gemini.core.langParameter1"
                     value="es">
               </parameter>
               <visibleWhen>
                  <not>
                     <systemTest
                           property="osgi.nl"
                           value="es">
                     </systemTest>
                  </not>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="menu:Tools?after=toolsMarker">
         <command
               commandId="eu.kalafatic.gemini.core.openWebBrowserCommand"
               icon="$nl$/icons/toolbar/web.gif"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="true"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="eu.kalafatic.gemini.core.toolbar1">
            <command
                  commandId="eu.kalafatic.gemini.core.openWebBrowserCommand"
                  icon="$nl$/icons/toolbar/web.gif"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            locationURI="menu:Tools?after=actionMarker">
         <command
               commandId="eu.kalafatic.gemini.core.restartCommand"
               icon="$nl$/icons/actions/restart.png"
               style="push">
         </command>
         <command
               commandId="eu.kalafatic.gemini.core.handlers.ExitHandler"
               icon="$nl$/icons/actions/exit.png"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="menu:Open Perspective?after=perspMarker">
         <command
               commandId="eu.kalafatic.gemini.core.openGPerspectivesCommand"
               icon="$nl$/icons/branding/tray-16.PNG"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="menu:Show View?after=viewMarker">
         <command
               commandId="eu.kalafatic.gemini.core.openGViewsCommand"
               icon="$nl$/icons/branding/tray-16.PNG"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:Help?after=assistMarker">
         <command
               commandId="eu.kalafatic.gemini.core.handlers.KeyAssistHandler"
               icon="icons/actions/shortcut.gif"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="menu:Help?after=helpMarker">
         <command
               commandId="eu.kalafatic.gemini.core.sendProblemCommand"
               icon="$nl$/icons/toolbar/bug.gif"
               style="push">
         </command>
         <command
               commandId="eu.kalafatic.gemini.core.sendImprovementCommand"
               icon="$nl$/icons/toolbar/message.gif"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="menu:Help?after=updateMarker">
         <command
               commandId="eu.kalafatic.gemini.core.productConfigCommand"
               icon="$nl$/icons/settings.png"
               style="push">
         </command>
         <command
               commandId="org.eclipse.equinox.p2.ui.sdk.install"
               icon="icons/actions/install.gif"
               id="org.eclipse.equinox.p2.ui.sdk.install"
               style="push">
         </command>
         <command
               commandId="org.eclipse.equinox.p2.ui.sdk.update"
               icon="$nl$/icons/actions/update.gif"
               id="org.eclipse.equinox.p2.ui.sdk.update"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.splashHandlers">
      <splashHandler
            class="eu.kalafatic.gemini.core.dialogs.GeminiSplashHandler"
            id="eu.kalafatic.gemini.core.dialogs.GeminiSplashHandler">
      </splashHandler>
      <splashHandlerProductBinding
            productId="eu.kalafatic.gemini.core.all"
            splashId="eu.kalafatic.gemini.core.dialogs.GeminiSplashHandler">
      </splashHandlerProductBinding>
   </extension>
   <extension
         point="org.eclipse.ui.installationPages">
      <page
            class="org.eclipse.equinox.p2.ui.InstalledSoftwarePage"
            id="eu.kalafatic.gemini.core.p2.InstallationPage"
            name="Installed Software">
      </page>
      <page
            class="org.eclipse.equinox.p2.ui.RevertProfilePage"
            id="eu.kalafatic.gemini.core.p2.RevertProfilePage"
            name="Installation History">
      </page>
   </extension>


</plugin>
