<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="eu.kalafatic.gemini.core" name="%extension-point.name" schema="schema/eu.kalafatic.gemini.core.exsd"/>
   <extension-point id="eu.kalafatic.gemini.core.acceleratorSets" name="%extension-point.name.0" schema="schema/eu.kalafatic.gemini.core.acceleratorSets.exsd"/>
   <extension
         id="eu.kalafatic.gemini.core.application"
         name="%extension.name"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            icon="$nl$/icons/branding/tray-16.PNG"
            thread="main"
            visible="true">
         <run
               class="eu.kalafatic.gemini.core.Application">
         </run>
      </application>
   </extension>

   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="eu.kalafatic.gemini.core.perspectives.CorePerspective"
            icon="$nl$/icons/toolbar/preferences.png"
            id="eu.kalafatic.gemini.core.perspectives.CorePerspective"
            name="%perspective.name.0">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="eu.kalafatic.gemini.core.perspectives.CorePerspective">
         <view
               closeable="true"
               id="org.eclipse.ui.views.ProblemView"
               minimized="false"
               moveable="true"
               ratio=".65"
               relationship="bottom"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="true"
               visible="true">
         </view>
         <view
               closeable="true"
               id="org.eclipse.ui.views.ProgressView"
               minimized="false"
               moveable="true"
               relationship="stack"
               relative="org.eclipse.ui.views.ProblemView"
               showTitle="true"
               standalone="true"
               visible="true">
         </view>
         <view
               closeable="true"
               id="org.eclipse.ui.views.ContentOutline"
               minimized="false"
               moveable="true"
               relationship="stack"
               relative="org.eclipse.ui.views.ProblemView"
               showTitle="true"
               standalone="true"
               visible="true">
         </view>
         <view
               closeable="true"
               id="org.eclipse.ui.views.PropertySheet"
               minimized="false"
               moveable="true"
               relationship="stack"
               relative="org.eclipse.ui.views.ProblemView"
               showTitle="true"
               standalone="true"
               visible="true">
         </view>
         <view
               closeable="true"
               id="org.eclipse.ui.views.TaskList"
               minimized="false"
               moveable="true"
               relationship="stack"
               relative="org.eclipse.ui.views.ProblemView"
               showTitle="true"
               standalone="true"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="Gemini"
            name="%category.name.10">
      </category>
      <category
            id="Core"
            name="%category.name.11"
            parentCategory="Gemini">
      </category>
      <category
            id="BT"
            name="%category.name.12"
            parentCategory="Gemini">
      </category>
      <view
            allowMultiple="true"
            category="Gemini/Core"
            class="eu.kalafatic.gemini.core.views.FileNavigatorView"
            icon="icons/tree.gif"
            id="eu.kalafatic.gemini.core.views.FileNavigatorView"
            name="%view.name.0">
      </view>
      <view
            category="Gemini/Core"
            class="eu.kalafatic.gemini.core.views.ConsoleView"
            icon="icons/console.png"
            id="eu.kalafatic.gemini.core.views.ConsoleView"
            name="%view.name"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="org.eclipse.ui"
            class="org.eclipse.ui.ExtensionFactory:progressView"
            icon="icons/actions/pview.gif"
            id="org.eclipse.ui.views.ProgressView"
            name="%view.name.1"
            restorable="true">
      </view>
      <view
            category="Gemini/Core"
            class="eu.kalafatic.gemini.core.views.WorkspaceView"
            icon="icons/workspace.gif"
            id="eu.kalafatic.gemini.core.views.WorkspaceView"
            name="%view.name.2"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="eu.kalafatic.gemini.core.editors.MultiPageEditor"
            contributorClass="eu.kalafatic.gemini.core.editors.providers.MultiPageEditorContributor"
            default="true"
            extensions="torrent,txt,xml,html,htm,jnlp"
            icon="$nl$/icons/editor.gif"
            id="eu.kalafatic.gemini.core.editors.MultiPageEditor"
            name="%editor.name.0">
      </editor>
      <editor
            class="eu.kalafatic.gemini.core.editors.XMLEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="false"
            extensions="torrent,txt,xml,html,htm,jnlp"
            icon="icons/files/xml.png"
            id="eu.kalafatic.gemini.core.editors.XMLEditor"
            name="%editor.name">
      </editor>
      <editor
            class="eu.kalafatic.gemini.core.editors.EcoreEditor"
            contributorClass="org.eclipse.emf.edit.ui.action.EditingDomainActionBarContributor"
            default="false"
            extensions="torrent,txt,xml,html,htm,jnlp"
            icon="icons/files/ecore.gif"
            id="eu.kalafatic.gemini.core.editors.EcoreEditor"
            name="%editor.name.1">
      </editor>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml">
      </toc>
      <toc
            file="testToc.xml"
            primary="true">
      </toc>
   </extension>
   <extension 
       point="org.eclipse.ui.encodings">
      <encoding name="ISO-8859-1"/>
      <encoding name="UTF-8"/>
      <encoding name="US-ASCII"/>
   </extension>
   <extension
         point="org.eclipse.ui.intro">
      <intro
            class="org.eclipse.ui.intro.universal"
            icon="icons/branding/zodiac-16-16.jpg"
            id="eu.kalafatic.gemini.core.intro">
      </intro>
      <introProductBinding
            introId="org.eclipse.ui.intro.universal"
            productId="eu.kalafatic.gemini.core.core">
      </introProductBinding>
      <introProductBinding
            introId="org.eclipse.ui.intro.universal"
            productId="eu.kalafatic.gemini.core.all">
      </introProductBinding>
   </extension>
   <extension
         point="org.eclipse.ui.intro.config">
      <config
            content="intro/gemini.xml"
            id="eu.kalafatic.gemini.core.intro.config"
            introId="eu.kalafatic.gemini.core.intro">
         <presentation
               home-page-id="eu.kalafatic.gemini.core.presentation2">
            <implementation
                  kind="swt">
            </implementation>
         </presentation>
      </config>
   </extension>
   <extension
         point="org.eclipse.ui.intro.configExtension">
      <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="intro/gemini.xml">
      </configExtension>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page           
            class="eu.kalafatic.gemini.core.preferences.GeminiPreferencePage"
            id="eu.kalafatic.gemini.core.preferences.GeminiPreferencePage"
            name="%page.name">
      </page>
      <page
            category="eu.kalafatic.gemini.core.preferences.GeminiPreferencePage"
            class="org.eclipse.ui.intro.universal.ExtensionFactory:welcomeCustomization"
            id="eu.kalafatic.gemini.core.preferences.Welcome"
            name="%page.name.13">
         <keywordReference
               id="org.eclipse.ui.ide.appearance">
         </keywordReference>
      </page>
      <page
            category="eu.kalafatic.gemini.core.preferences.GeminiPreferencePage"
            class="eu.kalafatic.gemini.core.preferences.CorePreferencePage"
            id="eu.kalafatic.gemini.core.preferences.CorePreferencePage"
            name="%page.name.0">
      </page>
      <page
            category="eu.kalafatic.gemini.core.preferences.CorePreferencePage"
            class="eu.kalafatic.gemini.core.preferences.SystemPreferencePage"
            id="eu.kalafatic.gemini.core.preferences.SystemPreferencePage"
            name="%page.name.1">
      </page>
      <page
            category="eu.kalafatic.gemini.core.preferences.SystemPreferencePage"
            class="eu.kalafatic.gemini.core.preferences.LanguagePreferencePage"
            id="eu.kalafatic.gemini.core.preferences.LanguagePreferencePage"
            name="Language">
      </page>
      <page
            category="eu.kalafatic.gemini.core.preferences.CorePreferencePage"
            class="eu.kalafatic.gemini.core.preferences.NetworkPreferencePage"
            id="eu.kalafatic.gemini.core.preferences.NetworkPreferencePage"
            name="%page.name.2">
      </page>
      <page
            category="eu.kalafatic.gemini.core.preferences.CorePreferencePage"
            class="eu.kalafatic.gemini.core.preferences.PluginsPreferencePage"
            id="eu.kalafatic.gemini.core.preferences.PluginsPreferencePage"
            name="%page.name.3">
      </page>
      <page
            category="eu.kalafatic.gemini.core.preferences.CorePreferencePage"
            class="eu.kalafatic.gemini.core.preferences.LocationsPreferencePage"
            id="eu.kalafatic.gemini.core.preferences.LocationsPreferencePage"
            name="%page.name.4">
      </page>
      <page
            category="eu.kalafatic.gemini.core.preferences.CorePreferencePage"
            class="eu.kalafatic.gemini.core.preferences.OptionsPreferencePage"
            id="eu.kalafatic.gemini.core.preferences.OptionsPreferencePage"
            name="%page.name.5">
      </page>
      <page
            category="eu.kalafatic.gemini.core.preferences.CorePreferencePage"
            class="eu.kalafatic.gemini.core.preferences.SecurityPreferencePage"
            id="eu.kalafatic.gemini.core.preferences.SecurityPreferencePage"
            name="%page.name.6">
      </page>
      <page
            category="eu.kalafatic.gemini.core.preferences.SystemPreferencePage"
            class="eu.kalafatic.gemini.core.preferences.OSIntegrationPreferencePage"
            id="eu.kalafatic.gemini.core.preferences.OSIntegrationPreferencePage"
            name="%page.name.7">
      </page>
      <page
            category="eu.kalafatic.gemini.core.preferences.SystemPreferencePage"
            class="eu.kalafatic.gemini.core.preferences.PortExplorerPage"
            id="eu.kalafatic.gemini.core.preferences.PortExplorerPage"
            name="%page.name.8">
      </page>
      <page
      		category="eu.kalafatic.gemini.core.preferences.NetworkPreferencePage"
            class="eu.kalafatic.gemini.core.preferences.InterfacesPreferencePage"
            id="eu.kalafatic.gemini.core.preferences.InterfacesPreferencePage"
            name="%page.name.9">
      </page>
      <page
            category="eu.kalafatic.gemini.core.preferences.CorePreferencePage"
            class="eu.kalafatic.gemini.core.preferences.DatabasesPreferencePage"
            id="eu.kalafatic.gemini.core.preferences.DatabasesPreferencePage"
            name="%page.name.10">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="eu.kalafatic.gemini.core.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="eu.kalafatic.gemini.core.commands.category"
            name="%category.name">
      </category>
      <command
            categoryId="eu.kalafatic.gemini.core.commands.category"
            helpContextId="eu.kalafatic.gemini.core.handlers.SelectLanguageHandler"
            id="eu.kalafatic.gemini.core.handlers.SelectLanguageHandler"
            name="%command.name">
         <commandParameter
               id="eu.kalafatic.gemini.core.langParameter1"
               name="%commandParameter.name"
               optional="true">
         </commandParameter>
      </command>
      <command
            id="eu.kalafatic.gemini.core.openGPerspectivesCommand"
            name="%command.name.0">
      </command>
      <command
            id="eu.kalafatic.gemini.core.openGViewsCommand"
            name="%command.name.1">
      </command>
      <command
            id="eu.kalafatic.gemini.core.openWebBrowserCommand"
            name="%command.name.2">
      </command>
      <command
            id="eu.kalafatic.gemini.core.productConfigCommand"
            name="%command.name.3">
      </command>
      <command
            id="eu.kalafatic.gemini.core.restartCommand"
            name="%command.name.4">
      </command>
      <command
            id="eu.kalafatic.gemini.core.sendImprovementCommand"
            name="%command.name.5">
      </command>
      <command
            id="eu.kalafatic.gemini.core.sendProblemCommand"
            name="%command.name.6">
      </command>
      <command
            id="eu.kalafatic.gemini.core.handlers.ExitHandler"
            name="%command.name.8">
      </command>
      <command
            id="eu.kalafatic.gemini.core.handlers.KeyAssistHandler"
            name="%command.name.9">
      </command>
      <command
            id="eu.kalafatic.gemini.core.handlers.UpdateHandler1"
            name="%command.name.10">
      </command>
      <command
            id="eu.kalafatic.gemini.core.handlers.InstallHandler"
            name="%command.name.11">
      </command>
      <command
            id="eu.kalafatic.gemini.core.handlers.WizardHandler$Export"
            name="%command.name.12">
      </command>
      <command
            id="eu.kalafatic.gemini.core.handlers.WizardHandler$Import"
            name="%command.name.13">
      </command>
      <command
            id="eu.kalafatic.gemini.core.handlers.RunInternalCommunicationHandler"
            name="%command.name.14">
      </command>
      <command
            id="eu.kalafatic.gemini.core.handlers.AboutHandler"
            name="About">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="eu.kalafatic.gemini.core.handlers.SelectLanguageHandler"
            commandId="eu.kalafatic.gemini.core.handlers.SelectLanguageHandler"
            helpContextId="eu.kalafatic.gemini.core.handlers.SelectLanguageHandler">
      </handler>
      <handler
            class="eu.kalafatic.gemini.core.handlers.OpenGeminiPerspectivesHandler"
            commandId="eu.kalafatic.gemini.core.openGPerspectivesCommand">
      </handler>
      <handler
            class="eu.kalafatic.gemini.core.handlers.OpenGeminiViewsHandler"
            commandId="eu.kalafatic.gemini.core.openGViewsCommand">
      </handler>
      <handler
            class="eu.kalafatic.gemini.core.handlers.OpenWebBrowserHandler"
            commandId="eu.kalafatic.gemini.core.openWebBrowserCommand">
      </handler>
      <handler
            class="eu.kalafatic.gemini.core.handlers.ProductConfigHandler"
            commandId="eu.kalafatic.gemini.core.productConfigCommand">
      </handler>
      <handler
            class="eu.kalafatic.gemini.core.handlers.RestartHandler"
            commandId="eu.kalafatic.gemini.core.restartCommand">
      </handler>
      <handler
            class="eu.kalafatic.gemini.core.handlers.SendImprovementHandler"
            commandId="eu.kalafatic.gemini.core.sendImprovementCommand">
      </handler>
      <handler
            class="eu.kalafatic.gemini.core.handlers.SendProblemHandler"
            commandId="eu.kalafatic.gemini.core.sendProblemCommand">
      </handler>
      <handler
            class="eu.kalafatic.gemini.core.handlers.ExitHandler"
            commandId="eu.kalafatic.gemini.core.handlers.ExitHandler">
      </handler>
      <handler
            class="eu.kalafatic.gemini.core.handlers.KeyAssistHandler"
            commandId="eu.kalafatic.gemini.core.handlers.KeyAssistHandler"
            helpContextId="eu.kalafatic.gemini.core.handlers.KeyAssistHandler">
      </handler>
      <handler
            class="eu.kalafatic.gemini.core.handlers.WizardHandler$Import"
            commandId="eu.kalafatic.gemini.core.handlers.WizardHandler$Import">
      </handler>
      <handler
            class="eu.kalafatic.gemini.core.handlers.WizardHandler$Export"
            commandId="eu.kalafatic.gemini.core.handlers.WizardHandler$Export">
      </handler>
      <handler
            class="eu.kalafatic.gemini.core.handlers.RunInternalCommunicationHandler"
            commandId="eu.kalafatic.gemini.core.handlers.RunInternalCommunicationHandler">
      </handler>
      <handler
            class="eu.kalafatic.gemini.core.handlers.AboutHandler"
            commandId="eu.kalafatic.gemini.core.handlers.AboutHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <scheme
            id="eu.kalafatic.gemini.core.acceleratorSets"
            name="%scheme.name"
            parentId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </scheme>
      <key
            commandId="eu.kalafatic.gemini.core.handlers.SelectLanguageHandler"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="SHIFT+1">
         <parameter
               id="eu.kalafatic.gemini.core.langParameter1"
               value="cs">
         </parameter>
      </key>
      <key
            commandId="eu.kalafatic.gemini.core.handlers.SelectLanguageHandler"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="eu.kalafatic.gemini.core.acceleratorSets"
            sequence="SHIFT+2">
         <parameter
               id="eu.kalafatic.gemini.core.langParameter1"
               value="en">
         </parameter>
      </key>
      <key
            commandId="eu.kalafatic.gemini.core.handlers.SelectLanguageHandler"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="eu.kalafatic.gemini.core.acceleratorSets"
            sequence="SHIFT+3">
         <parameter
               id="eu.kalafatic.gemini.core.langParameter1"
               value="de">
         </parameter>
      </key>
      <key
            commandId="eu.kalafatic.gemini.core.handlers.SelectLanguageHandler"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="eu.kalafatic.gemini.core.acceleratorSets"
            sequence="SHIFT+4">
         <parameter
               id="eu.kalafatic.gemini.core.langParameter1"
               value="zh">
         </parameter>
      </key>
      <key
            commandId="eu.kalafatic.gemini.core.handlers.SelectLanguageHandler"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="eu.kalafatic.gemini.core.acceleratorSets"
            sequence="SHIFT+5">
         <parameter
               id="eu.kalafatic.gemini.core.langParameter1"
               value="ru">
         </parameter>
      </key>
      <key
            commandId="eu.kalafatic.gemini.core.handlers.SelectLanguageHandler"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="eu.kalafatic.gemini.core.acceleratorSets"
            sequence="SHIFT+6">
         <parameter
               id="eu.kalafatic.gemini.core.langParameter1"
               value="es">
         </parameter>
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            description="%context.description"
            id="eu.kalafatic.gemini.core.handlers.SelectLanguageHandler"
            name="%context.name"
            parentId="org.eclipse.ui.contexts.window">
      </context>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="menu:Tools?after=languageMarker">
         <menu
               icon="$nl$/icons/languages/language.png"
               id="eu.kalafatic.gemini.core.menus.languagesMenu"
               label="Languages"
               mnemonic="%menu.mnemonic">
            <command
                  commandId="eu.kalafatic.gemini.core.handlers.SelectLanguageHandler"
                  icon="$nl$/icons/languages/flags/czech.gif"
                  label="%command.label"
                  style="push">
               <parameter
                     name="eu.kalafatic.gemini.core.langParameter1"
                     value="cs">
               </parameter>
               <visibleWhen>
                  <not>
                     <systemTest
                           property="osgi.nl"
                           value="cs">
                     </systemTest>
                  </not>
               </visibleWhen>
            </command>
            <command
                  commandId="eu.kalafatic.gemini.core.handlers.SelectLanguageHandler"
                  icon="$nl$/icons/languages/flags/english.gif"
                  label="%command.label.0"
                  style="push">
               <parameter
                     name="eu.kalafatic.gemini.core.langParameter1"
                     value="en">
               </parameter>
               <visibleWhen>
                  <not>
                     <systemTest
                           property="osgi.nl"
                           value="en">
                     </systemTest>
                  </not>
               </visibleWhen>
            </command>
            <command
                  commandId="eu.kalafatic.gemini.core.handlers.SelectLanguageHandler"
                  icon="$nl$/icons/languages/flags/german.gif"
                  label="%command.label.1"
                  style="push">
               <parameter
                     name="eu.kalafatic.gemini.core.langParameter1"
                     value="de">
               </parameter>
               <visibleWhen>
                  <not>
                     <systemTest
                           property="osgi.nl"
                           value="de">
                     </systemTest>
                  </not>
               </visibleWhen>
            </command>
            <command
                  commandId="eu.kalafatic.gemini.core.handlers.SelectLanguageHandler"
                  icon="$nl$/icons/languages/flags/china.gif"
                  label="%command.label.2"
                  style="push">
               <parameter
                     name="eu.kalafatic.gemini.core.langParameter1"
                     value="zh">
               </parameter>
               <visibleWhen>
                  <not>
                     <systemTest
                           property="osgi.nl"
                           value="zh">
                     </systemTest>
                  </not>
               </visibleWhen>
            </command>
            <command
                  commandId="eu.kalafatic.gemini.core.handlers.SelectLanguageHandler"
                  icon="$nl$/icons/languages/flags/russia.gif"
                  label="%command.label.3"
                  style="push">
               <parameter
                     name="eu.kalafatic.gemini.core.langParameter1"
                     value="ru">
               </parameter>
               <visibleWhen>
                  <not>
                     <systemTest
                           property="osgi.nl"
                           value="ru">
                     </systemTest>
                  </not>
               </visibleWhen>
            </command>
            <command
                  commandId="eu.kalafatic.gemini.core.handlers.SelectLanguageHandler"
                  icon="$nl$/icons/languages/flags/spain.gif"
                  label="%command.label.4"
                  style="push">
               <parameter
                     name="eu.kalafatic.gemini.core.langParameter1"
                     value="es">
               </parameter>
               <visibleWhen>
                  <not>
                     <systemTest
                           property="osgi.nl"
                           value="es">
                     </systemTest>
                  </not>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="menu:Tools?after=toolsMarker">
         <command
               commandId="eu.kalafatic.gemini.core.openWebBrowserCommand"
               icon="$nl$/icons/toolbar/web.gif"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="true"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="eu.kalafatic.gemini.core.toolbar1">
            <command
                  commandId="eu.kalafatic.gemini.core.openWebBrowserCommand"
                  icon="$nl$/icons/toolbar/web.gif"
                  style="push">
            </command>
            <separator
                  name="eu.kalafatic.gemini.core.toolbar.separator1"
                  visible="true">
            </separator>
         </toolbar>
      </menuContribution>
      <menuContribution
            locationURI="menu:Tools?after=actionMarker">
         <command
               commandId="eu.kalafatic.gemini.core.restartCommand"
               icon="$nl$/icons/actions/restart.png"
               style="push">
         </command>
         <command
               commandId="eu.kalafatic.gemini.core.handlers.ExitHandler"
               icon="$nl$/icons/actions/exit.png"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="menu:Open Perspective?after=perspMarker">
         <command
               commandId="eu.kalafatic.gemini.core.openGPerspectivesCommand"
               icon="$nl$/icons/branding/tray-16.PNG"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="menu:Show View?after=viewMarker">
         <command
               commandId="eu.kalafatic.gemini.core.openGViewsCommand"
               icon="$nl$/icons/branding/tray-16.PNG"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:Help?after=assistMarker">
         <command
               commandId="eu.kalafatic.gemini.core.handlers.KeyAssistHandler"
               icon="icons/actions/shortcut.gif"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="menu:Help?after=helpMarker">
         <command
               commandId="eu.kalafatic.gemini.core.sendProblemCommand"
               icon="$nl$/icons/toolbar/bug.gif"
               style="push">
         </command>
         <command
               commandId="eu.kalafatic.gemini.core.sendImprovementCommand"
               icon="$nl$/icons/toolbar/message.gif"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="menu:Help?after=updateMarker">
         <command
               commandId="eu.kalafatic.gemini.core.productConfigCommand"
               icon="$nl$/icons/settings.png"
               style="push">
         </command>
         <command
               commandId="org.eclipse.equinox.p2.ui.sdk.install"
               icon="icons/actions/install.gif"
               id="org.eclipse.equinox.p2.ui.sdk.install"
               style="push">
         </command>
         <command
               commandId="org.eclipse.equinox.p2.ui.sdk.update"
               icon="$nl$/icons/actions/update.gif"
               id="org.eclipse.equinox.p2.ui.sdk.update"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="menu:File?after=syncMarker">
         <menu
               commandId="eu.kalafatic.gemini.core.handlers.WizardHandler$Import"
               icon="icons/actions/import_wiz.png"
               id="eu.kalafatic.gemini.core.menus.importWizardsMenu"
               label="%menu.label.0">
         </menu>
         <menu
               commandId="eu.kalafatic.gemini.core.handlers.WizardHandler$Export"
               icon="icons/actions/export_wiz.gif"
               id="eu.kalafatic.gemini.core.menus.exportWizardsMenu"
               label="%menu.label.1">
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:Help?after=aboutMarker">
         <command
               commandId="eu.kalafatic.gemini.core.handlers.AboutHandler"
               icon="icons/gemini/t.jpg"
               label="About Gemini"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.splashHandlers">
      <splashHandler
            class="eu.kalafatic.gemini.core.dialogs.GeminiSplashHandler"
            id="eu.kalafatic.gemini.core.dialogs.GeminiSplashHandler">
      </splashHandler>
      <splashHandlerProductBinding
            productId="eu.kalafatic.gemini.core.all"
            splashId="eu.kalafatic.gemini.core.dialogs.GeminiSplashHandler">
      </splashHandlerProductBinding>
      <splashHandlerProductBinding
            productId="eu.kalafatic.gemini.core.core"
            splashId="eu.kalafatic.gemini.core.dialogs.GeminiSplashHandler">
      </splashHandlerProductBinding>
   </extension>
   <extension
         point="org.eclipse.ui.installationPages">
      <page
            class="org.eclipse.equinox.p2.ui.InstalledSoftwarePage"
            id="eu.kalafatic.gemini.core.p2.InstallationPage"
            name="%page.name.11">
      </page>
      <page
            class="org.eclipse.equinox.p2.ui.RevertProfilePage"
            id="eu.kalafatic.gemini.core.p2.RevertProfilePage"
            name="%page.name.12">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <category
            id="eu.kalafatic.gemini.core.wizards.export"
            name="%category.name.8">
      </category>
      <wizard
            category="eu.kalafatic.gemini.core.wizards"
            class="eu.kalafatic.gemini.core.handlers.WizardHandler$Export"
            id="eu.kalafatic.gemini.core.handlers.WizardHandler$Export"
            name="%wizard.name">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="eu.kalafatic.gemini.core.wizards.import"
            name="%category.name.9">
      </category>
      <wizard
            category="eu.kalafatic.gemini.core.wizards.import"
            class="eu.kalafatic.gemini.core.handlers.WizardHandler$Import"
            id="eu.kalafatic.gemini.core.handlers.WizardHandler$Import"
            name="%wizard.name.0">
      </wizard>
      <wizard
            category="eu.kalafatic.gemini.core.wizards.export"
            class="eu.kalafatic.gemini.core.handlers.WizardHandler$Export"
            id="eu.kalafatic.gemini.core.handlers.WizardHandler$Export"
            name="%wizard.name.1">
      </wizard>
      <wizard
            class="eu.kalafatic.gemini.core.wizards.SyncWizard"
            id="eu.kalafatic.gemini.core.wizards.SyncWizard"
            name="%wizard.name.2">
         <selection
               class="eu.kalafatic.gemini.core.wizards.Selection1"
               name="sss">
         </selection>
      </wizard>
   </extension>
   <extension
         id="all"
         point="org.eclipse.core.runtime.products">
      <product
            application="eu.kalafatic.gemini.core.application"
            name="Gemini">
         <property
               name="windowImages"
               value="icons/branding/tray-16.PNG,icons/branding/tray-32.PNG,icons/branding/tray-48.PNG,icons/branding/tray-64.PNG,icons/branding/tray-128.PNG">
         </property>
         <property
               name="aboutText"
               value="%aboutText">
         </property>
         <property
               name="aboutImage"
               value="icons/branding/tray-128.PNG">
         </property>
         <property
               name="startupForegroundColor"
               value="808080">
         </property>
         <property
               name="startupProgressRect"
               value="10,135,280,10">
         </property>
         <property
               name="startupMessageRect"
               value="10,115,260,20">
         </property>
         <property
               name="appName"
               value="Gemini">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="version"
               value="%Bundle-Version.0">
         </property>
         <property
               name="acceleratorSets"
               value="eu.kalafatic.gemini.core.acceleratorSets">
         </property>
         <property
               name="introTitle"
               value="Gemini ">
         </property>
         <property
               name="introBrandingImage"
               value="product:icons/branding/zodiac-74-56.jpg">
         </property>
      </product>
   </extension>
   <extension
         id="core"
         point="org.eclipse.core.runtime.products">
      <product
            application="eu.kalafatic.gemini.core.application"
            name="%product.name.7">
          <property
               name="windowImages"
               value="icons/branding/tray-16.PNG,icons/branding/tray-32.PNG,icons/branding/tray-48.PNG,icons/branding/tray-64.PNG,icons/branding/tray-128.PNG">
         </property>
         <property
               name="aboutText"
               value="Welcome to my Product based on Eclipse Product Configuration.&#x0A;Project Gemini is implementation of BitTorrent protocol.&#x0A;Copyright (c) 2010, Petr Kalafatic&#x0A;Version: 2.1.0&#x0A;Build id: = 2.1.0.vqualifier">
         </property>
         <property
               name="aboutImage"
               value="icons/branding/tray-128.PNG">
         </property>
         <property
               name="startupForegroundColor"
               value="808080">
         </property>
         <property
               name="startupProgressRect"
               value="10,135,280,10">
         </property>
         <property
               name="startupMessageRect"
               value="10,115,260,20">
         </property>
         <property
               name="appName"
               value="%product.name.7">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="version"
               value="%Bundle-Version.0">
         </property>
         <property
               name="acceleratorSets"
               value="eu.kalafatic.gemini.core.acceleratorSets">
         </property>
         <property
               name="introTitle"
               value="Gemini Core">
         </property>
         <property
               name="introBrandingImage"
               value="product:icons/branding/zodiac-74-56.jpg">
         </property>
      </product>
   </extension>
   <extension
         id="tracker"
         point="org.eclipse.core.runtime.products">
      <product
            application="eu.kalafatic.gemini.core.application"
            name="Gemini Tracker">
         <property
               name="windowImages"
               value="icons/branding/tray-16.PNG,icons/branding/tray-32.PNG,icons/branding/tray-48.PNG,icons/branding/tray-64.PNG,icons/branding/tray-128.PNG">
         </property>
         <property
               name="aboutText"
               value="%aboutText">
         </property>
         <property
               name="aboutImage"
               value="icons/branding/tray-128.PNG">
         </property>
         <property
               name="startupForegroundColor"
               value="808080">
         </property>
         <property
               name="startupProgressRect"
               value="10,135,280,10">
         </property>
         <property
               name="startupMessageRect"
               value="10,115,260,20">
         </property>
         <property
               name="appName"
               value="Gemini Tracker">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="version"
               value="%Bundle-Version.0">
         </property>
         <property
               name="acceleratorSets"
               value="eu.kalafatic.gemini.core.acceleratorSets">
         </property>
         <property
               name="introTitle"
               value="Gemini Core">
         </property>
         <property
               name="introBrandingImage"
               value="product:icons/branding/zodiac-74-56.jpg">
         </property>
      </product>
   </extension>
   <extension
         id="tm"
         point="org.eclipse.core.runtime.products">
      <product
            application="eu.kalafatic.gemini.core.application"
            name="Gemini Torrent Maker">
         <property
               name="windowImages"
               value="icons/branding/tray-16.PNG,icons/branding/tray-32.PNG,icons/branding/tray-48.PNG,icons/branding/tray-64.PNG,icons/branding/tray-128.PNG">
         </property>
         <property
               name="aboutText"
               value="Welcome to my Product based on Eclipse Product Configuration.&#x0A;Project Gemini is implementation of BitTorrent protocol.&#x0A;Copyright (c) 2010, Petr Kalafatic&#x0A;Version: 2.1.0&#x0A;Build id: = 2.1.0.vqualifier">
         </property>
         <property
               name="aboutImage"
               value="icons/branding/tray-128.PNG">
         </property>
         <property
               name="startupForegroundColor"
               value="808080">
         </property>
         <property
               name="startupProgressRect"
               value="10,135,280,10">
         </property>
         <property
               name="startupMessageRect"
               value="10,115,260,20">
         </property>
         <property
               name="appName"
               value="Gemini Torrent Maker">
         </property>
         <property
               name="version"
               value="%Bundle-Version.0">
         </property>
         <property
               name="acceleratorSets"
               value="eu.kalafatic.gemini.core.acceleratorSets">
         </property>
         <property
               name="introTitle"
               value="Gemini Core">
         </property>
         <property
               name="introBrandingImage"
               value="product:icons/branding/zodiac-74-56.jpg">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="eu.kalafatic.gemini.core.testers.EmptyPropertyTester"
            id="eu.kalafatic.gemini.core.testers.EmptyPropertyTester"
            namespace="eu.kalafatic.gemini.core.testers"
            properties="isEmpty"
            type="java.lang.Object">
      </propertyTester>
   </extension>


</plugin>
