<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="eu.kalafatic.gemini.bt.tm.view.perspectives.TMBasePerspective"
            fixed="false"
            icon="platform:/plugin/eu.kalafatic.gemini.core/icons/gemini/tm.jpg"
            id="eu.kalafatic.gemini.bt.tm.view.perspectives.TMBasePerspective"
            name="%perspective.name.0">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="eu.kalafatic.gemini.bt.tm.controller.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="eu.kalafatic.gemini.core.preferences.GeminiPreferencePage"
            class="eu.kalafatic.gemini.bt.tm.view.preferences.TMPreferencePage"
            id="eu.kalafatic.gemini.bt.tm.view.preferences.TMPreferencePage"
            name="%page.name">
      </page>
      <page
            category="eu.kalafatic.gemini.core.preferences.GeminiPreferencePage/eu.kalafatic.gemini.bt.tm.view.preferences.TMPreferencePage"
            class="eu.kalafatic.gemini.bt.tm.view.preferences.NetworkPreferencePage"
            id="eu.kalafatic.gemini.bt.tm.view.preferences.NetworkPreferencePage"
            name="%page.name.0">
      </page>
      <page
            category="eu.kalafatic.gemini.core.preferences.GeminiPreferencePage/eu.kalafatic.gemini.bt.tm.view.preferences.TMPreferencePage"
            class="eu.kalafatic.gemini.bt.tm.view.preferences.OptionsPreferencePage"
            id="eu.kalafatic.gemini.bt.tm.view.preferences.OptionsPreferencePage"
            name="%page.name.1">
      </page>
      <page
            category="eu.kalafatic.gemini.core.preferences.GeminiPreferencePage/eu.kalafatic.gemini.bt.tm.view.preferences.TMPreferencePage"
            class="eu.kalafatic.gemini.bt.tm.view.preferences.LocationsPreferencePage"
            id="eu.kalafatic.gemini.bt.tm.view.preferences.LocationsPreferencePage"
            name="%page.name.2">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="eu.kalafatic.gemini.bt.tm.view.editors.TorrentEditor"
            contributorClass="eu.kalafatic.gemini.bt.tm.view.editors.EditorContributor"
            extensions="torrent"
            icon="platform:/plugin/eu.kalafatic.gemini.core/icons/gemini/t.jpg"
            id="eu.kalafatic.gemini.bt.tm.view.editors.TorrentEditor"
            name="%editor.name">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <command
               commandId="org.eclipse.ui.file.save"
               disabledIcon="platform:/plugin/org.eclipse.ui/icons/full/dtool16/save_edit.png"
               icon="platform:/plugin/org.eclipse.ui/icons/full/etool16/save_edit.png"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.file.saveAll"
               disabledIcon="platform:/plugin/org.eclipse.ui/icons/full/dtool16/saveall_edit.png"
               icon="platform:/plugin/org.eclipse.ui/icons/full/etool16/saveall_edit.png"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:file?before=save.group">
         <command
               commandId="org.eclipse.ui.file.saveAll"
               disabledIcon="platform:/plugin/org.eclipse.ui/icons/full/dtool16/saveall_edit.png"
               icon="platform:/plugin/org.eclipse.ui/icons/full/etool16/saveall_edit.png"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.file.save"
               disabledIcon="platform:/plugin/org.eclipse.ui/icons/full/dtool16/save_edit.png"
               icon="platform:/plugin/org.eclipse.ui/icons/full/etool16/save_edit.png"
               style="push">
         </command>
      </menuContribution>
   </extension>

</plugin>
