<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="eu.kalafatic.gemini.bt.client.controller.category"
            name="%category.name">
      </category>
      <command
            category="BT Client"
            categoryId="eu.kalafatic.gemini.bt.client.controller.category"
            id="eu.kalafatic.gemini.bt.client.controller.handlers.ImportTorrentHandler"
            name="%command.name">
      </command>
      <command
            category="BT Client"
            categoryId="eu.kalafatic.gemini.bt.client.controller.category"
            id="eu.kalafatic.gemini.bt.client.controller.handlers.AddTorrentHandler"
            name="%command.name.0">
         <commandParameter
               id="eu.kalafatic.gemini.bt.client.controller.addTorrentParameter1"
               name="%commandParameter.name"
               optional="true">
         </commandParameter>
      	<commandParameter
               id="eu.kalafatic.gemini.bt.client.controller.addTorrentParameter2"
               name="%commandParameter.name.0"
               optional="true">
         </commandParameter>
         	category="BT Client"
            categoryId="eu.kalafatic.gemini.bt.client.controller.category"
            id="eeu.kalafatic.gemini.bt.client.controller.handlers.RunTorrentHandler"
            name="Run Torrent">
      </command>
      <command
            category="BT Client"
            categoryId="eu.kalafatic.gemini.bt.client.controller.category"
            id="eu.kalafatic.gemini.bt.client.controller.handlers.RunTorrentsHandler"
            name="%command.name.1">
         <commandParameter
               id="eu.kalafatic.gemini.bt.client.controller.runTorrentCommandParameter1"
               name="%commandParameter.name.1"
               ofalsenal="true"
               optional="true"
               viewere="name">
         </commandParameter>
      </command>
      <command
            category="BT Client"
            categoryId="eu.kalafatic.gemini.bt.client.controller.category"
            id="eu.kalafatic.gemini.bt.client.controller.handlers.PauseTorrentsHandler"
            name="%command.name.2">
      </command>
      <command
            category="BT Client"
            categoryId="eu.kalafatic.gemini.bt.client.controller.category"
            id="eu.kalafatic.gemini.bt.client.controller.handlers.StopTorrentsHandler"
            name="%command.name.3">
      </command>
       <command
             category="BT Client"
             categoryId="eu.kalafatic.gemini.bt.client.controller.category"
             id="eu.kalafatic.gemini.bt.client.controller.handlers.VerifyDownloadHandler"
             name="Verify Download">
       </command>
      <command
            category="BT Client"
            categoryId="eu.kalafatic.gemini.bt.client.controller.category"
            id="eu.kalafatic.gemini.bt.client.controller.handlers.RemoveTorrentsHandler"
            name="%command.name.4">
      </command>
      <command
            category="BT Client"
            categoryId="eu.kalafatic.gemini.bt.client.controller.category"
            id="eu.kalafatic.gemini.bt.client.controller.handlers.SelectAllHandler"
            name="%command.name.5">
      </command>
      <command
            category="BT Client"
            categoryId="eu.kalafatic.gemini.bt.client.controller.category"
            id="eu.kalafatic.gemini.bt.client.controller.handlers.CheckAllHandler"
            name="%command.name.6">
      </command>
      <command
            category="BT Client"
            categoryId="eu.kalafatic.gemini.bt.client.controller.category"
            id="eu.kalafatic.gemini.bt.client.controller.handlers.OpenHandler"
            name="%command.name.7">
         <commandParameter
               id="eu.kalafatic.gemini.bt.client.controller.openCommandParameter1"
               name="%commandParameter.name.2"
               optional="true">
         </commandParameter>
      </command>
       <command
            category="BT Client"
            categoryId="eu.kalafatic.gemini.bt.client.controller.category"
            id="eu.kalafatic.gemini.bt.client.controller.handlers.InitTorrentModelHandler"
            name="%command.name.8">
      </command>
       <command
             category="BT Client"
             categoryId="eu.kalafatic.gemini.bt.client.controller.category"
             id="eu.kalafatic.gemini.bt.client.controller.handlers.MoveToHandler"
             name="%command.name.9">
          <commandParameter
                id="eu.kalafatic.gemini.bt.client.controller.MoveToParameter1"
                name="%commandParameter.name.3"
                optional="true">
          </commandParameter>
       </command>
       <command
             category="BT Client"
             categoryId="eu.kalafatic.gemini.bt.client.controller.category"
             id="eu.kalafatic.gemini.bt.client.controller.handlers.CopyToHandler"
             name="%command.name.10">
          <commandParameter
                id="eu.kalafatic.gemini.bt.client.controller.CopyToParameter1"
                name="%commandParameter.name.4">
          </commandParameter>
       </command>
       <command
             id="eu.kalafatic.gemini.bt.client.controller.handlers.ShowStatistics"
             name="%command.name.11">
          <commandParameter
                id="eu.kalafatic.gemini.bt.client.controller.ShowStatParameter1"
                name="%commandParameter.name.5"
                optional="true">
          </commandParameter>
       </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="eu.kalafatic.gemini.bt.client.controller.handlers.ImportTorrentHandler"
            commandId="eu.kalafatic.gemini.bt.client.controller.handlers.ImportTorrentHandler"
            helpContextId="eu.kalafatic.gemini.bt.client.controller.handlers.ImportTorrentHandler">
      </handler>
      <handler
            class="eu.kalafatic.gemini.bt.client.controller.handlers.AddTorrentHandler"
            commandId="eu.kalafatic.gemini.bt.client.controller.handlers.AddTorrentHandler"
            helpContextId="eu.kalafatic.gemini.bt.client.controller.handlers.AddTorrentHandler">
      </handler>
      <handler
            class="eu.kalafatic.gemini.bt.client.controller.handlers.RunTorrentsHandler"
            commandId="eu.kalafatic.gemini.bt.client.controller.handlers.RunTorrentsHandler"
            helpContextId="eu.kalafatic.gemini.bt.client.controller.handlers.RunTorrentsHandler">
      </handler>
      <handler
            class="eu.kalafatic.gemini.bt.client.controller.handlers.PauseTorrentsHandler"
            commandId="eu.kalafatic.gemini.bt.client.controller.handlers.PauseTorrentsHandler"
            helpContextId="eu.kalafatic.gemini.bt.client.controller.handlers.PauseTorrentsHandler">
      </handler>
      <handler
            class="eu.kalafatic.gemini.bt.client.controller.handlers.StopTorrentsHandler"
            commandId="eu.kalafatic.gemini.bt.client.controller.handlers.StopTorrentsHandler"
            helpContextId="eu.kalafatic.gemini.bt.client.controller.handlers.StopTorrentsHandler">
      </handler>
      <handler
            class="eu.kalafatic.gemini.bt.client.controller.handlers.RemoveTorrentsHandler"
            commandId="eu.kalafatic.gemini.bt.client.controller.handlers.RemoveTorrentsHandler"
            helpContextId="eu.kalafatic.gemini.bt.client.controller.handlers.RemoveTorrentsHandler">
      </handler>
      <handler
            class="eu.kalafatic.gemini.bt.client.controller.handlers.SelectAllHandler"
            commandId="eu.kalafatic.gemini.bt.client.controller.handlers.SelectAllHandler"
            helpContextId="eu.kalafatic.gemini.bt.client.controller.handlers.SelectAllHandler">
      </handler>
      <handler
            class="eu.kalafatic.gemini.bt.client.controller.handlers.CheckAllHandler"
            commandId="eu.kalafatic.gemini.bt.client.controller.handlers.CheckAllHandler"
            helpContextId="eu.kalafatic.gemini.bt.client.controller.handlers.CheckAllHandler">
      </handler>
      <handler
            class="eu.kalafatic.gemini.bt.client.controller.handlers.OpenHandler"
            commandId="eu.kalafatic.gemini.bt.client.controller.handlers.OpenHandler"
            helpContextId="eu.kalafatic.gemini.bt.client.controller.handlers.OpenHandler">
      </handler>
      <handler
            class="eu.kalafatic.gemini.bt.client.controller.handlers.InitTorrentModelHandler"
            commandId="eu.kalafatic.gemini.bt.client.controller.handlers.InitTorrentModelHandler"
            helpContextId="eu.kalafatic.gemini.bt.client.controller.handlers.InitTorrentModelHandler">
      </handler>
      <handler
            class="eu.kalafatic.gemini.bt.client.controller.handlers.MoveToHandler"
            commandId="eu.kalafatic.gemini.bt.client.controller.handlers.MoveToHandler"
            helpContextId="eu.kalafatic.gemini.bt.client.controller.handlers.MoveToHandler">
      </handler>
      <handler
            class="eu.kalafatic.gemini.bt.client.controller.handlers.CopyToHandler"
            commandId="eu.kalafatic.gemini.bt.client.controller.handlers.CopyToHandler"
            helpContextId="eu.kalafatic.gemini.bt.client.controller.handlers.CopyToHandler">
      </handler>
      <handler
            class="eu.kalafatic.gemini.bt.client.controller.handlers.ShowStatistics"
            commandId="eu.kalafatic.gemini.bt.client.controller.handlers.ShowStatistics"
            helpContextId="eu.kalafatic.gemini.bt.client.controller.handlers.ShowStatistics">
      </handler>
      <handler
            class="eu.kalafatic.gemini.bt.client.controller.handlers.VerifyDownloadHandler"
            commandId="eu.kalafatic.gemini.bt.client.controller.handlers.VerifyDownloadHandler"
            helpContextId="eu.kalafatic.gemini.bt.client.controller.handlers.VerifyDownloadHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:File?after=createMarker">
         <command
               commandId="eu.kalafatic.gemini.bt.client.controller.handlers.ImportTorrentHandler"
               icon="platform:/plugin/eu.kalafatic.gemini.core/icons/actions/up_nav.gif"
               id="eu.kalafatic.gemini.bt.client.controller.handlers.ImportTorrentHandler"
               label="%command.label"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="eu.kalafatic.gemini.bt.client.view.perspectives.ClientBasePerspective">
                  </equals>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="menu:eu.kalafatic.gemini.bt.client.view.views.TorrentsTableView">
         <command
               commandId="eu.kalafatic.gemini.bt.client.controller.handlers.ImportTorrentHandler"
               icon="platform:/plugin/eu.kalafatic.gemini.core/icons/actions/up_nav.gif"
               id="eu.kalafatic.gemini.bt.client.controller.handlers.ImportTorrentHandler"
               label="%command.label.0"
               style="push">
         </command>
         <separator
               name="eu.kalafatic.gemini.bt.client.controller.separator1"
               visible="true">
         </separator>
         <command
               commandId="eu.kalafatic.gemini.bt.client.controller.handlers.RunTorrentsHandler"
               icon="platform:/plugin/eu.kalafatic.gemini.core/icons/actions/play.png"
               label="%command.name.1"
               style="push">
         </command>
         <command
               commandId="eu.kalafatic.gemini.bt.client.controller.handlers.PauseTorrentsHandler"
               icon="platform:/plugin/eu.kalafatic.gemini.core/icons/actions/pause.png"
               label="%command.name.2"
               style="push">
         </command>
         <command
               commandId="eu.kalafatic.gemini.bt.client.controller.handlers.StopTorrentsHandler"
               icon="platform:/plugin/eu.kalafatic.gemini.core/icons/actions/stop.png"
               label="%command.name.3"
               style="push">
         </command>
         <command
               commandId="eu.kalafatic.gemini.bt.client.controller.handlers.VerifyDownloadHandler"
               icon="platform:/plugin/eu.kalafatic.gemini.core/icons/actions/verify.png"
               label="Verify Download"
               style="push">
         </command>
         <separator
               name="eu.kalafatic.gemini.bt.client.controller.separator2"
               visible="true">
         </separator>
         <command
               commandId="eu.kalafatic.gemini.bt.client.controller.handlers.SelectAllHandler"
               icon="platform:/plugin/eu.kalafatic.gemini.core/icons/actions/select.gif"
               label="%command.name.5"
               style="push">
         </command>
         <command
               commandId="eu.kalafatic.gemini.bt.client.controller.handlers.CheckAllHandler"
               icon="platform:/plugin/eu.kalafatic.gemini.core/icons/actions/check.gif"
               label="%command.name.6"
               style="push">
         </command>
         <separator
               name="eu.kalafatic.gemini.bt.client.controller.separator3"
               visible="true">
         </separator>
         <command
               commandId="eu.kalafatic.gemini.bt.client.controller.handlers.RemoveTorrentsHandler"
               icon="platform:/plugin/eu.kalafatic.gemini.core/icons/actions/delete.gif"
               label="%command.name.4"
               style="push">
         </command>
         <separator
               name="eu.kalafatic.gemini.bt.client.controller.separator4"
               visible="true">
         </separator>
         <menu
               id="eu.kalafatic.gemini.bt.client.view.views.TorrentsTableView.otherMenu"
               label="%menu.label">
            <command
                  commandId="eu.kalafatic.gemini.bt.client.controller.handlers.ShowStatistics"
                  icon="platform:/plugin/eu.kalafatic.gemini.core/icons/stat.gif"
                  style="push">
               <parameter
                     name="eu.kalafatic.gemini.bt.client.controller.ShowStatParameter1"
                     value="eu.kalafatic.gemini.bt.client.view.views.TorrentsTableView">
               </parameter>
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="menu:eu.kalafatic.gemini.bt.client.view.views.FinishedTorrentsTableView">
         <command
               commandId="eu.kalafatic.gemini.bt.client.controller.handlers.RunTorrentsHandler"
               icon="platform:/plugin/eu.kalafatic.gemini.core/icons/actions/play.png"
               label="%command.name.1"
               style="push">
         </command>
         <command
               commandId="eu.kalafatic.gemini.bt.client.controller.handlers.PauseTorrentsHandler"
               icon="platform:/plugin/eu.kalafatic.gemini.core/icons/actions/pause.png"
               label="%command.name.2"
               style="push">
         </command>
         <command
               commandId="eu.kalafatic.gemini.bt.client.controller.handlers.StopTorrentsHandler"
               icon="platform:/plugin/eu.kalafatic.gemini.core/icons/actions/stop.png"
               label="%command.name.3"
               style="push">
         </command>
         <command
               commandId="eu.kalafatic.gemini.bt.client.controller.handlers.VerifyDownloadHandler"
               icon="platform:/plugin/eu.kalafatic.gemini.core/icons/actions/verify.png"
               label="Verify Download"
               style="push">
         </command>
         <separator
               name="eu.kalafatic.gemini.bt.client.controller.separator10"
               visible="true">
         </separator>
         <command
               commandId="eu.kalafatic.gemini.bt.client.controller.handlers.CopyToHandler"
               icon="platform:/plugin/eu.kalafatic.gemini.core/icons/actions/copy.gif"
               label="%command.name.10"
               style="push">
            <parameter
                  name="eu.kalafatic.gemini.bt.client.controller.CopyToParameter1"
                  value="eu.kalafatic.gemini.bt.client.view.views.FinishedTorrentsTableView">
            </parameter>
         </command>
         <command
               commandId="eu.kalafatic.gemini.bt.client.controller.handlers.MoveToHandler"
               icon="platform:/plugin/eu.kalafatic.gemini.core/icons/actions/move.png"
               style="push">
            <parameter
                  name="eu.kalafatic.gemini.bt.client.controller.MoveToParameter1"
                  value="eu.kalafatic.gemini.bt.client.view.views.FinishedTorrentsTableView">
            </parameter>
         </command>
         <separator
               name="eu.kalafatic.gemini.bt.client.controller.separator13"
               visible="true">
         </separator>
         <command
               commandId="eu.kalafatic.gemini.bt.client.controller.handlers.SelectAllHandler"
               icon="platform:/plugin/eu.kalafatic.gemini.core/icons/actions/select.gif"
               label="%command.name.5"
               style="push">
         </command>
         <command
               commandId="eu.kalafatic.gemini.bt.client.controller.handlers.CheckAllHandler"
               icon="platform:/plugin/eu.kalafatic.gemini.core/icons/actions/check.gif"
               label="%command.name.6"
               style="push">
         </command>
         <separator
               name="eu.kalafatic.gemini.bt.client.controller.separator11"
               visible="true">
         </separator>
         <command
               commandId="eu.kalafatic.gemini.bt.client.controller.handlers.RemoveTorrentsHandler"
               icon="platform:/plugin/eu.kalafatic.gemini.core/icons/actions/delete.gif"
               label="%command.name.4"
               style="push">
         </command>
         <separator
               name="eu.kalafatic.gemini.bt.client.controller.separator12"
               visible="true">
         </separator>
         <menu
               id="eu.kalafatic.gemini.bt.client.view.views.FinishedTorrentsTableView.otherMenu"
               label="%menu.label.0">
            <command
                  commandId="eu.kalafatic.gemini.bt.client.controller.handlers.ShowStatistics"
                  icon="platform:/plugin/eu.kalafatic.gemini.core/icons/stat.gif"
                  style="push">
               <parameter
                     name="eu.kalafatic.gemini.bt.client.controller.ShowStatParameter1"
                     value="eu.kalafatic.gemini.bt.client.view.views.FinishedTorrentsTableView">
               </parameter>
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:eu.kalafatic.gemini.bt.client.view.views.TorrentsTableView">
         <command
               commandId="eu.kalafatic.gemini.bt.client.controller.handlers.ImportTorrentHandler"
               icon="platform:/plugin/eu.kalafatic.gemini.core/icons/actions/up_nav.gif"
               label="%command.label.1"
               style="push">
         </command>
         <separator
               name="eu.kalafatic.gemini.bt.client.controller.separator21"
               visible="true">
         </separator>
         <command
               commandId="eu.kalafatic.gemini.bt.client.controller.handlers.RunTorrentsHandler"
               icon="platform:/plugin/eu.kalafatic.gemini.core/icons/actions/play.png"
               label="%command.name.1"
               style="push">
         </command>
         <command
               commandId="eu.kalafatic.gemini.bt.client.controller.handlers.PauseTorrentsHandler"
               icon="platform:/plugin/eu.kalafatic.gemini.core/icons/actions/pause.png"
               label="%command.name.2"
               style="push">
         </command>
         <command
               commandId="eu.kalafatic.gemini.bt.client.controller.handlers.StopTorrentsHandler"
               icon="platform:/plugin/eu.kalafatic.gemini.core/icons/actions/stop.png"
               label="%command.name.3"
               style="push">
         </command>
         <command
               commandId="eu.kalafatic.gemini.bt.client.controller.handlers.VerifyDownloadHandler"
               icon="platform:/plugin/eu.kalafatic.gemini.core/icons/actions/verify.png"
               label="Verify Download"
               style="push">
         </command>
         <separator
               name="eu.kalafatic.gemini.bt.client.controller.separator22"
               visible="true">
         </separator>
         <command
               commandId="eu.kalafatic.gemini.bt.client.controller.handlers.SelectAllHandler"
               icon="platform:/plugin/eu.kalafatic.gemini.core/icons/actions/select.gif"
               label="%command.name.5"
               style="push">
         </command>
         <command
               commandId="eu.kalafatic.gemini.bt.client.controller.handlers.CheckAllHandler"
               icon="platform:/plugin/eu.kalafatic.gemini.core/icons/actions/check.gif"
               label="%command.name.6"
               style="push">
         </command>
         <separator
               name="eu.kalafatic.gemini.bt.client.controller.separator23"
               visible="true">
         </separator>
         <command
               commandId="eu.kalafatic.gemini.bt.client.controller.handlers.RemoveTorrentsHandler"
               icon="platform:/plugin/eu.kalafatic.gemini.core/icons/actions/delete.gif"
               label="%command.name.4"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:eu.kalafatic.gemini.bt.client.view.views.FinishedTorrentsTableView">
         <command
               commandId="eu.kalafatic.gemini.bt.client.controller.handlers.RunTorrentsHandler"
               icon="platform:/plugin/eu.kalafatic.gemini.core/icons/actions/play.png"
               label="%command.name.1"
               style="push">
         </command>
         <command
               commandId="eu.kalafatic.gemini.bt.client.controller.handlers.PauseTorrentsHandler"
               icon="platform:/plugin/eu.kalafatic.gemini.core/icons/actions/pause.png"
               label="%command.name.2"
               style="push">
         </command>
         <command
               commandId="eu.kalafatic.gemini.bt.client.controller.handlers.StopTorrentsHandler"
               icon="platform:/plugin/eu.kalafatic.gemini.core/icons/actions/stop.png"
               label="%command.name.3"
               style="push">
         </command>
         <command
               commandId="eu.kalafatic.gemini.bt.client.controller.handlers.VerifyDownloadHandler"
               icon="platform:/plugin/eu.kalafatic.gemini.core/icons/actions/verify.png"
               label="Verify Download"
               style="push">
         </command>
         <separator
               name="eu.kalafatic.gemini.bt.client.controller.separator31"
               visible="true">
         </separator>
         <command
               commandId="eu.kalafatic.gemini.bt.client.controller.handlers.SelectAllHandler"
               icon="platform:/plugin/eu.kalafatic.gemini.core/icons/actions/select.gif"
               label="%command.name.5"
               style="push">
         </command>
         <command
               commandId="eu.kalafatic.gemini.bt.client.controller.handlers.CheckAllHandler"
               icon="platform:/plugin/eu.kalafatic.gemini.core/icons/actions/check.gif"
               label="%command.name.6"
               style="push">
         </command>
         <separator
               name="eu.kalafatic.gemini.bt.client.controller.separator32"
               visible="true">
         </separator>
         <command
               commandId="eu.kalafatic.gemini.bt.client.controller.handlers.RemoveTorrentsHandler"
               icon="platform:/plugin/eu.kalafatic.gemini.core/icons/actions/delete.gif"
               label="%command.name.4"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:eu.kalafatic.gemini.bt.client.view.views.TorrentsTableView">
         <command
               commandId="eu.kalafatic.gemini.bt.client.controller.handlers.ImportTorrentHandler"
               icon="platform:/plugin/eu.kalafatic.gemini.core/icons/actions/up_nav.gif"
               label="%command.label.2"
               style="push">
         </command>
         <separator
               name="eu.kalafatic.gemini.bt.client.controller.separator41"
               visible="true">
         </separator>
         <command
               commandId="eu.kalafatic.gemini.bt.client.controller.handlers.RunTorrentsHandler"
               icon="platform:/plugin/eu.kalafatic.gemini.core/icons/actions/play.png"
               label="%command.name.1"
               style="push">
         </command>
         <command
               commandId="eu.kalafatic.gemini.bt.client.controller.handlers.PauseTorrentsHandler"
               icon="platform:/plugin/eu.kalafatic.gemini.core/icons/actions/pause.png"
               label="%command.name.2"
               style="push">
         </command>
         <command
               commandId="eu.kalafatic.gemini.bt.client.controller.handlers.StopTorrentsHandler"
               icon="platform:/plugin/eu.kalafatic.gemini.core/icons/actions/stop.png"
               label="%command.name.3"
               style="push">
         </command>
         <command
               commandId="eu.kalafatic.gemini.bt.client.controller.handlers.VerifyDownloadHandler"
               icon="platform:/plugin/eu.kalafatic.gemini.core/icons/actions/verify.png"
               label="Verify Download"
               style="push">
         </command>
         <separator
               name="eu.kalafatic.gemini.bt.client.controller.separator42"
               visible="true">
         </separator>
         <command
               commandId="eu.kalafatic.gemini.bt.client.controller.handlers.SelectAllHandler"
               icon="platform:/plugin/eu.kalafatic.gemini.core/icons/actions/select.gif"
               label="%command.name.5"
               style="push">
         </command>
         <command
               commandId="eu.kalafatic.gemini.bt.client.controller.handlers.CheckAllHandler"
               icon="platform:/plugin/eu.kalafatic.gemini.core/icons/actions/check.gif"
               label="%command.name.6"
               style="push">
         </command>
         <separator
               name="eu.kalafatic.gemini.bt.client.controller.separator43"
               visible="true">
         </separator>
         <command
               commandId="eu.kalafatic.gemini.bt.client.controller.handlers.RemoveTorrentsHandler"
               icon="platform:/plugin/eu.kalafatic.gemini.core/icons/actions/delete.gif"
               label="%command.name.4"
               style="push">
         </command>
         <separator
               name="eu.kalafatic.gemini.bt.client.controller.separator44">
         </separator>
         <menu
               id="eu.kalafatic.gemini.bt.client.view.views.TorrentsTableView.otherMenu"
               label="%menu.label.1">
            <command
                  commandId="eu.kalafatic.gemini.bt.client.controller.handlers.ShowStatistics"
                  icon="platform:/plugin/eu.kalafatic.gemini.core/icons/stat.gif"
                  style="push">
               <parameter
                     name="eu.kalafatic.gemini.bt.client.controller.ShowStatParameter1"
                     value="eu.kalafatic.gemini.bt.client.view.views.TorrentsTableView">
               </parameter>
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="popup:eu.kalafatic.gemini.bt.client.view.views.FinishedTorrentsTableView">
         <command
               commandId="eu.kalafatic.gemini.bt.client.controller.handlers.RunTorrentHandler"
               icon="platform:/plugin/eu.kalafatic.gemini.core/icons/actions/play.png"
               label="%command.name.1"
               style="push">
         </command>
         <command
               commandId="eu.kalafatic.gemini.bt.client.controller.handlers.PauseTorrentHandler"
               icon="platform:/plugin/eu.kalafatic.gemini.core/icons/actions/pause.png"
               label="%command.name.2"
               style="push">
         </command>
         <command
               commandId="eu.kalafatic.gemini.bt.client.controller.handlers.StopTorrentHandler"
               icon="platform:/plugin/eu.kalafatic.gemini.core/icons/actions/stop.png"
               label="%command.name.3"
               style="push">
         </command>
         <command
               commandId="eu.kalafatic.gemini.bt.client.controller.handlers.VerifyDownloadHandler"
               icon="platform:/plugin/eu.kalafatic.gemini.core/icons/actions/verify.png"
               label="Verify Download"
               style="push">
         </command>
         <separator
               name="eu.kalafatic.gemini.bt.client.controller.separator51"
               visible="true">
         </separator>
         <command
               commandId="eu.kalafatic.gemini.bt.client.controller.handlers.CopyToHandler"
               icon="platform:/plugin/eu.kalafatic.gemini.core/icons/actions/copy.gif"
               label="%command.name.10"
               style="push">
            <parameter
                  name="eu.kalafatic.gemini.bt.client.controller.CopyToParameter1"
                  value="eu.kalafatic.gemini.bt.client.view.views.FinishedTorrentsTableView">
            </parameter>
         </command>
         <command
               commandId="eu.kalafatic.gemini.bt.client.controller.handlers.MoveToHandler"
               icon="platform:/plugin/eu.kalafatic.gemini.core/icons/actions/move.png"
               label="%command.name.9"
               style="push">
            <parameter
                  name="eu.kalafatic.gemini.bt.client.controller.MoveToParameter1"
                  value="eu.kalafatic.gemini.bt.client.view.views.FinishedTorrentsTableView">
            </parameter>
         </command>
         <separator
               name="eu.kalafatic.gemini.bt.client.controller.separator53">
         </separator>
         <command
               commandId="eu.kalafatic.gemini.bt.client.controller.handlers.SelectAllHandler"
               icon="platform:/plugin/eu.kalafatic.gemini.core/icons/actions/select.gif"
               label="%command.name.5"
               style="push">
         </command>
         <command
               commandId="eu.kalafatic.gemini.bt.client.controller.handlers.CheckAllHandler"
               icon="platform:/plugin/eu.kalafatic.gemini.core/icons/actions/check.gif"
               label="%command.name.6"
               style="push">
         </command>
         <separator
               name="eu.kalafatic.gemini.bt.client.controller.separator52"
               visible="true">
         </separator>
         <command
               commandId="eu.kalafatic.gemini.bt.client.controller.handlers.RemoveTorrentHandler"
               icon="platform:/plugin/eu.kalafatic.gemini.core/icons/actions/delete.gif"
               label="%command.name.4"
               style="push">
         </command>
         <separator
               name="eu.kalafatic.gemini.bt.client.controller.separator53">
         </separator>
         <menu
               id="eu.kalafatic.gemini.bt.client.view.views.FinishedTorrentsTableView.otherMenu"
               label="%menu.label.2">
            <command
                  commandId="eu.kalafatic.gemini.bt.client.controller.handlers.ShowStatistics"
                  icon="platform:/plugin/eu.kalafatic.gemini.core/icons/stat.gif"
                  style="push">
               <parameter
                     name="eu.kalafatic.gemini.bt.client.controller.ShowStatParameter1"
                     value="eu.kalafatic.gemini.bt.client.view.views.FinishedTorrentsTableView">
               </parameter>
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="true"
            locationURI="menu:eu.kalafatic.gemini.bt.client.view.views.TorrentDetailView">
         <command
               commandId="eu.kalafatic.gemini.bt.client.controller.handlers.OpenHandler"
               icon="platform:/plugin/eu.kalafatic.gemini.core/icons/actions/view.gif"
               style="push">
         </command>
         <separator
               name="eu.kalafatic.gemini.bt.client.controller.separator61"
               visible="true">
         </separator>
         <command
               commandId="eu.kalafatic.gemini.bt.client.controller.handlers.CopyToHandler"
               icon="platform:/plugin/eu.kalafatic.gemini.core/icons/actions/copy.gif"
               label="%command.name.10"
               style="push">
            <parameter
                  name="eu.kalafatic.gemini.bt.client.controller.CopyToParameter1"
                  value="eu.kalafatic.gemini.bt.client.view.views.TorrentDetailView">
            </parameter>
         </command>
         <command
               commandId="eu.kalafatic.gemini.bt.client.controller.handlers.MoveToHandler"
               icon="platform:/plugin/eu.kalafatic.gemini.core/icons/actions/move.png"
               label="%command.name.9"
               style="push">
            <parameter
                  name="eu.kalafatic.gemini.bt.client.controller.MoveToParameter1"
                  value="eu.kalafatic.gemini.bt.client.view.views.TorrentDetailView">
            </parameter>
         </command>
         <separator
               name="eu.kalafatic.gemini.bt.client.controller.separator63"
               visible="true">
         </separator>
         <command
               commandId="eu.kalafatic.gemini.bt.client.controller.handlers.SelectAllHandler"
               icon="platform:/plugin/eu.kalafatic.gemini.core/icons/actions/select.gif"
               label="%command.name.5"
               style="push">
         </command>
         <command
               commandId="eu.kalafatic.gemini.bt.client.controller.handlers.CheckAllHandler"
               icon="platform:/plugin/eu.kalafatic.gemini.core/icons/actions/check.gif"
               label="%command.name.6"
               style="push">
         </command>
         <separator
               name="eu.kalafatic.gemini.bt.client.controller.separator62">
         </separator>
         <command
               commandId="eu.kalafatic.gemini.bt.client.controller.handlers.RemoveTorrentHandler"
               icon="platform:/plugin/eu.kalafatic.gemini.core/icons/actions/delete.gif"
               style="pulldown">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="true"
            locationURI="toolbar:eu.kalafatic.gemini.bt.client.view.views.TorrentDetailView">
         <command
               commandId="eu.kalafatic.gemini.bt.client.controller.handlers.OpenHandler"
               icon="platform:/plugin/eu.kalafatic.gemini.core/icons/actions/view.gif"      
                style="push">
         </command> 
               <separator name="eu.kalafatic.gemini.bt.client.controller.separator71"
               visible="true">               
         </separator>
               <command
                     commandId="eu.kalafatic.gemini.bt.client.controller.handlers.SelectAllHandler"
                     icon="platform:/plugin/eu.kalafatic.gemini.core/icons/actions/select.gif"
                     label="%command.name.5"
                     style="push">
               </command>
               <command
                     commandId="eu.kalafatic.gemini.bt.client.controller.handlers.CheckAllHandler"
                     icon="platform:/plugin/eu.kalafatic.gemini.core/icons/actions/check.gif"
                     label="%command.name.6"
                     style="push">
               </command>
               <separator
                     name="eu.kalafatic.gemini.bt.client.controller.separator72"
                     visible="true">
               </separator>
      </menuContribution>
      <menuContribution
            allPopups="true"
            locationURI="popup:eu.kalafatic.gemini.bt.client.view.views.TorrentDetailView">
         <command
               commandId="eu.kalafatic.gemini.bt.client.controller.handlers.OpenHandler"
               icon="platform:/plugin/eu.kalafatic.gemini.core/icons/actions/view.gif"
               style="push">
         </command>
         <separator
               name="eu.kalafatic.gemini.bt.client.controller.separator81"
               visible="true">
         </separator>
         <command
               commandId="eu.kalafatic.gemini.bt.client.controller.handlers.CopyToHandler"
               icon="platform:/plugin/eu.kalafatic.gemini.core/icons/actions/copy.gif"
               label="%command.name.10"
               style="push">
            <parameter
                  name="eu.kalafatic.gemini.bt.client.controller.CopyToParameter1"
                  value="eu.kalafatic.gemini.bt.client.view.views.TorrentDetailView">
            </parameter>
         </command>
         <command
               commandId="eu.kalafatic.gemini.bt.client.controller.handlers.MoveToHandler"
               icon="platform:/plugin/eu.kalafatic.gemini.core/icons/actions/move.png"
               label="%command.name.9"
               style="push">
            <parameter
                  name="eu.kalafatic.gemini.bt.client.controller.MoveToParameter1"
                  value="eu.kalafatic.gemini.bt.client.view.views.TorrentDetailView">
            </parameter>
         </command>
         <separator
               name="eu.kalafatic.gemini.bt.client.controller.separator83"
               visible="true">
         </separator>
         <command
               commandId="eu.kalafatic.gemini.bt.client.controller.handlers.SelectAllHandler"
               icon="platform:/plugin/eu.kalafatic.gemini.core/icons/actions/select.gif"
               label="%command.name.5"
               style="push">
         </command>
         <command
               commandId="eu.kalafatic.gemini.bt.client.controller.handlers.CheckAllHandler"
               icon="platform:/plugin/eu.kalafatic.gemini.core/icons/actions/check.gif"
               label="%command.name.6"
               style="push">
         </command>
         <separator
               name="eu.kalafatic.gemini.bt.client.controller.separator82"
               visible="true">
         </separator>
         <command
               commandId="eu.kalafatic.gemini.bt.client.controller.handlers.RemoveTorrentHandler"
               icon="platform:/plugin/eu.kalafatic.gemini.core/icons/actions/delete.gif"
               label="%command.name.4"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="eu.kalafatic.gemini.bt.client.controller.handlers.SelectAllHandler"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+A">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            class="eu.kalafatic.gemini.bt.client.controller.wizards.NewTorrentWizard"
            id="eu.kalafatic.gemini.bt.client.controller.wizards.NewTorrentWizard"
            name="name">
      </wizard>
   </extension>

</plugin>
