<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="eu.kalafatic.gemini.bt.tm.controller.commands.category"
            name="%category.name">
      </category>
      <command
            categoryId="eu.kalafatic.gemini.bt.tm.controller.commands.category"
            id="eu.kalafatic.gemini.bt.tm.controller.handlers.CreateTorrentHandler"
            name="%command.name">
         <commandParameter
               id="eu.kalafatic.gemini.bt.tm.controller.torrentNameParameter"
               name="%commandParameter.name"
               optional="false">
         </commandParameter>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="eu.kalafatic.gemini.bt.tm.controller.handlers.CreateTorrentHandler"
            commandId="eu.kalafatic.gemini.bt.tm.controller.handlers.CreateTorrentHandler"
            helpContextId="eu.kalafatic.gemini.bt.tm.controller.handlers.CreateTorrentHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="eu.kalafatic.gemini.bt.tm.controller.handlers.CreateTorrentHandler"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+9">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:File?after=openMarker">
         <command
               commandId="eu.kalafatic.gemini.bt.tm.controller.handlers.CreateTorrentHandler"
               icon="platform:/plugin/eu.kalafatic.gemini.core/icons/actions/doc-create.gif"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="eu.kalafatic.gemini.bt.client.view.perspectives.ClientBasePerspective">
                  </equals>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

</plugin>
